<section class="filter">
    <div class="container">
        <div class="align-items-center justify-content-between padding-fliter row">
            <div class="col-md-3">
                <a>
                <img src="images/png/card/Filter.png" alt="">
                <span class="ps-4">FIND THINGS QUICKLY HERE</span>
                </a>

            </div>
            <div class="col-md-2">
                <h6 class="m-0 ps-3">Filters Sponsored By:</h6>
                <img src="images/png/card/filter-logo.png" alt="">
            </div>
        </div>

    </div>
</section>