<section class="filter">
    <div class="container">
        <div class="align-items-center justify-content-between padding-fliter row">
            <div class="col-md-4 d-lg-block d-none ">
                <a>
                <span>
                  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.4476 21.5H9.55242C9.25496 21.5 9 21.0385 9 20.5C9 19.9615 9.25496 19.5 9.55242 19.5H23.4476C23.745 19.5 24 19.9615 24 20.5C24 21.0385 23.745 21.5 23.4476 21.5Z" fill="#0B5188"/>
                    <path d="M3.03538 21.2384H0.616562C0.284567 21.2384 0 20.854 0 20.4055C0 19.893 0.284567 19.5085 0.616562 19.5085H3.03538C3.36738 19.5085 3.65194 19.893 3.65194 20.3414C3.69937 20.854 3.4148 21.2384 3.03538 21.2384Z" fill="#0B5188"/>
                    <path d="M6.41914 24.3076C4.23207 24.3076 2.41992 22.4951 2.41992 20.3076C2.41992 18.0576 4.23207 16.3076 6.41914 16.3076C8.60621 16.3076 10.4184 18.1201 10.4184 20.3076C10.4808 22.4951 8.6687 24.3076 6.41914 24.3076ZM6.41914 17.9326C5.10689 17.9326 4.0446 18.9951 4.0446 20.3076C4.0446 21.6201 5.10689 22.6826 6.41914 22.6826C7.73138 22.6826 8.79367 21.6201 8.79367 20.3076C8.79367 18.9951 7.73138 17.9326 6.41914 17.9326Z" fill="#0B5188"/>
                    <path d="M23.3829 13.3034H19.3041C18.9721 13.3034 18.6875 12.9187 18.6875 12.4698C18.6875 12.021 18.9721 11.6362 19.3041 11.6362H23.3829C23.7149 11.6362 23.9994 12.021 23.9994 12.4698C23.9994 12.9187 23.7149 13.3034 23.3829 13.3034Z" fill="#0B5188"/>
                    <path d="M12.4686 13.5H0.531447C0.245283 13.5 0 13.0385 0 12.5C0 11.9615 0.245283 11.5 0.531447 11.5H12.4686C12.7547 11.5 13 11.9615 13 12.5C13 13.0385 12.7547 13.5 12.4686 13.5Z" fill="#0B5188"/>
                    <path d="M16 16.3718C13.8125 16.3718 12 14.5593 12 12.3718C12 10.1843 13.8125 8.37183 16 8.37183C18.1875 8.37183 20 10.1843 20 12.3718C20 14.5593 18.25 16.3718 16 16.3718ZM16 9.99683C14.6875 9.99683 13.625 11.0593 13.625 12.3718C13.625 13.6843 14.6875 14.7468 16 14.7468C17.3125 14.7468 18.375 13.6843 18.375 12.3718C18.375 11.0593 17.3125 9.99683 16 9.99683Z" fill="#0B5188"/>
                    <path d="M23.4844 5.5H10.5156C10.238 5.5 10 5.03846 10 4.5C10 3.96154 10.238 3.5 10.5156 3.5H23.4844C23.762 3.5 24 3.96154 24 4.5C24 5.03846 23.762 5.5 23.4844 5.5Z" fill="#0B5188"/>
                    <path d="M3.03538 5.43059H0.616562C0.284567 5.43059 0 5.04586 0 4.59701C0 4.14816 0.284567 3.76343 0.616562 3.76343H3.03538C3.36738 3.76343 3.65194 4.14816 3.65194 4.59701C3.65194 5.04586 3.4148 5.43059 3.03538 5.43059Z" fill="#0B5188"/>
                    <path d="M6.41992 8.5C4.23242 8.5 2.41992 6.6875 2.41992 4.5C2.41992 2.3125 4.23242 0.5 6.41992 0.5C8.60742 0.5 10.4199 2.3125 10.4199 4.5C10.4199 6.6875 8.66992 8.5 6.41992 8.5ZM6.41992 2.125C5.10742 2.125 4.04492 3.1875 4.04492 4.5C4.04492 5.8125 5.10742 6.875 6.41992 6.875C7.73242 6.875 8.79492 5.8125 8.79492 4.5C8.79492 3.1875 7.73242 2.125 6.41992 2.125Z" fill="#0B5188"/>
                    </svg>
                </span>    
                <span class="ps-4">FIND THINGS QUICKLY HERE</span>
                </a>

            </div>
               <div class="col-12 d-lg-none d-block pb-4">
                <a href="" class=" dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="true">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.4476 21.5H9.55242C9.25496 21.5 9 21.0385 9 20.5C9 19.9615 9.25496 19.5 9.55242 19.5H23.4476C23.745 19.5 24 19.9615 24 20.5C24 21.0385 23.745 21.5 23.4476 21.5Z" fill="#0B5188"/>
                    <path d="M3.03538 21.2384H0.616562C0.284567 21.2384 0 20.854 0 20.4055C0 19.893 0.284567 19.5085 0.616562 19.5085H3.03538C3.36738 19.5085 3.65194 19.893 3.65194 20.3414C3.69937 20.854 3.4148 21.2384 3.03538 21.2384Z" fill="#0B5188"/>
                    <path d="M6.41914 24.3076C4.23207 24.3076 2.41992 22.4951 2.41992 20.3076C2.41992 18.0576 4.23207 16.3076 6.41914 16.3076C8.60621 16.3076 10.4184 18.1201 10.4184 20.3076C10.4808 22.4951 8.6687 24.3076 6.41914 24.3076ZM6.41914 17.9326C5.10689 17.9326 4.0446 18.9951 4.0446 20.3076C4.0446 21.6201 5.10689 22.6826 6.41914 22.6826C7.73138 22.6826 8.79367 21.6201 8.79367 20.3076C8.79367 18.9951 7.73138 17.9326 6.41914 17.9326Z" fill="#0B5188"/>
                    <path d="M23.3829 13.3034H19.3041C18.9721 13.3034 18.6875 12.9187 18.6875 12.4698C18.6875 12.021 18.9721 11.6362 19.3041 11.6362H23.3829C23.7149 11.6362 23.9994 12.021 23.9994 12.4698C23.9994 12.9187 23.7149 13.3034 23.3829 13.3034Z" fill="#0B5188"/>
                    <path d="M12.4686 13.5H0.531447C0.245283 13.5 0 13.0385 0 12.5C0 11.9615 0.245283 11.5 0.531447 11.5H12.4686C12.7547 11.5 13 11.9615 13 12.5C13 13.0385 12.7547 13.5 12.4686 13.5Z" fill="#0B5188"/>
                    <path d="M16 16.3718C13.8125 16.3718 12 14.5593 12 12.3718C12 10.1843 13.8125 8.37183 16 8.37183C18.1875 8.37183 20 10.1843 20 12.3718C20 14.5593 18.25 16.3718 16 16.3718ZM16 9.99683C14.6875 9.99683 13.625 11.0593 13.625 12.3718C13.625 13.6843 14.6875 14.7468 16 14.7468C17.3125 14.7468 18.375 13.6843 18.375 12.3718C18.375 11.0593 17.3125 9.99683 16 9.99683Z" fill="#0B5188"/>
                    <path d="M23.4844 5.5H10.5156C10.238 5.5 10 5.03846 10 4.5C10 3.96154 10.238 3.5 10.5156 3.5H23.4844C23.762 3.5 24 3.96154 24 4.5C24 5.03846 23.762 5.5 23.4844 5.5Z" fill="#0B5188"/>
                    <path d="M3.03538 5.43059H0.616562C0.284567 5.43059 0 5.04586 0 4.59701C0 4.14816 0.284567 3.76343 0.616562 3.76343H3.03538C3.36738 3.76343 3.65194 4.14816 3.65194 4.59701C3.65194 5.04586 3.4148 5.43059 3.03538 5.43059Z" fill="#0B5188"/>
                    <path d="M6.41992 8.5C4.23242 8.5 2.41992 6.6875 2.41992 4.5C2.41992 2.3125 4.23242 0.5 6.41992 0.5C8.60742 0.5 10.4199 2.3125 10.4199 4.5C10.4199 6.6875 8.66992 8.5 6.41992 8.5ZM6.41992 2.125C5.10742 2.125 4.04492 3.1875 4.04492 4.5C4.04492 5.8125 5.10742 6.875 6.41992 6.875C7.73242 6.875 8.79492 5.8125 8.79492 4.5C8.79492 3.1875 7.73242 2.125 6.41992 2.125Z" fill="#0B5188"/>
                    </svg>
                    <span class="px-2">FIND THINGS QUICKLY HERE
                    </span>
                     <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L7 7L13 1" stroke="#0B5188" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

          </a>
          <ul class="dropdown-menu " style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(16px, 29px);" data-popper-placement="bottom-start">
         <li><a class="dropdown-item pb-20 text-xs " href="#">U.S.A.<br><span class="regular-text-xs">English</span></a></li>
      <li><a class="dropdown-item pb-20 text-xs " href="#">Canada<br><span class="regular-text-xs">English</span></a></li>
      <li><a class="dropdown-item text-xs " href="#">Canada Quebéc.<br><span class="regular-text-xs">Francoís</span></a></li>
    </ul>

            </div>
            <div class="col-md-2 d-lg-block d-none">
                <h6 class="m-0 ps-3">Filters Sponsored By:</h6>
                <img width="160" height="40" src="images/svg/icons/united_airlines-logo.wine.svg" alt="united">
            </div>
        </div>
        <div class="row justify-content-between row d-lg-flex d-none">
            <div class="col-md-8 d-flex">
                <select class="form-select">
  <option>Topic</option>
  <option>Mollis Egestas</option>
  <option>Porta Amet</option>
  <option>Vulputate Sem</option>
  <option>Vulputate Sem</option>
  <option>Vulputate Sem</option>
</select>
<select class="form-select">
  <option>Destination</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
<select class="form-select">
  <option>Trip Type</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
<select class="form-select">
  <option>Company</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
<select class="form-select">
  <option>Content Type</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
            </div>
             <div class="col-md-3 d-flex">
                <a class="align-items-center d-flex sort">
             <img src="images/svg/icons/fillter.svg" alt="Image Alt Tag Goes here">
SORT
</a>

                <select class="form-select">
  <option>Most Popular</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
             </div>
        </div>

    </div>
</section>