<section class="header-slider">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <p class="text-sm d-lg-block d-none news-primary"><span class="pe-2" style="color: #607180;">COVID-19</span>The Latest Travel Intel for the World's Most Popular Countries <a href="#" class="me-2 btn btn-sldier border-new">Learn More</a></p>
        <div class="d-lg-none d-block">
             <p class="regular-text-sm   news-primary"><span class="" style="color: #607180;">COVID-19</span>The Latest Travel Intel for the World's Most Popular Countries</p>
              <a href="#" class="me-2 btn btn-sldier border-new">Learn More</a>
              </div>
    </div>
    <div class="carousel-item">
         <p class="text-sm d-lg-block d-none destinations-primary"><span class="regular-text-sm pe-2" style="color: #607180;">Central America</span>American Queen Voyages Offering Free Air for New 2022 Voyage to Mexico & Costa Rica <a href="#" class="me-2 btn btn-sldier border-explore">Explore Now</a></p>
          <div class="d-lg-none d-block">
             <p class="regular-text-sm   news-primary"><span class="" style="color: #607180;">COVID-19</span>The Latest Travel Intel for the World's Most Popular Countries</p>
              <a href="#" class="me-2 btn btn-sldier border-new">Learn More</a>
              </div>
    </div>
    <div class="carousel-item">
         <p class="text-sm d-lg-block d-none offers-primary"><span class="regular-text-sm pe-2" style="color: #607180;">Offers</span>Escape to the Vibrant World of Jewel Paradise Cove & Save 20% off Nightly Rates <a href="#" class="me-2 btn btn-sldier border-book">Book Now</a></p>
          <div class="d-lg-none d-block">
             <p class="regular-text-sm   news-primary"><span class="" style="color: #607180;">COVID-19</span>The Latest Travel Intel for the World's Most Popular Countries</p>
              <a href="#" class="me-2 btn btn-sldier border-new">Learn More</a>
              </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            </div>
        </div>
    </div>
</section>