<div class="card-aadd">
    <div class="container">
         <div class="row">
            <div class="align-items-baseline col-md-4 d-lg-flex d-none p-0 pe-4 position-relative" style="top:-39px;">
                <div class="aabb-card">
                <p>advertisement</p>
                <img src="images/png/card/card-ad.png" alt="" class="img-fluid">
                </div>
            </div>
            {{#each cards}}
            <div class="col-lg-4">
                {{>base-card card=this}}
            </div>
            {{/each}}
        </div>
    </div>
</div>