<section class="artical-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="border-b-c-a">Trending Now</h5>
                <div class="aritcal-card-header mb-4">
                    <img src="./images/png/card/card-2x.png" alt="Image Alt Tag Goes here" class="img-fluid">
                    <div class="box-air">
                        <div class="d-flex justify-content-between">
                            <h3>AIRLINES & AIRPORTS</h3>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-inside-1_9544_34197" fill="white">
<rect width="22" height="22" rx="1"/>
</mask>
<rect width="22" height="22" rx="1" stroke="white" stroke-width="4" mask="url(#path-1-inside-1_9544_34197)"/>
<line x1="18" y1="5" x2="12" y2="5" stroke="white" stroke-width="2"/>
<line x1="18" y1="9" x2="12" y2="9" stroke="white" stroke-width="2"/>
<line x1="18" y1="13" x2="4" y2="13" stroke="white" stroke-width="2"/>
<line x1="18" y1="17" x2="4" y2="17" stroke="white" stroke-width="2"/>
<rect x="4" y="4" width="6" height="6" fill="white"/>
</svg>

                        </div>
                        <h6 class="pe-4">Weekend Brings Highest Passenger Numbers Since Before COVID-19</h6>
                    </div>
                </div>
                <div class="artical-card-body">
                     <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
                <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
                <div class="align-items-center border-top-g d-flex hov">
                <h4 class="">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                    </h4>
                    <img src="./images/png/card/PlayButton.png" alt="Image Alt Tag Goes here"' class="w-h-img">
                    </div>
                </h4>
                <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
                </div>
            </div>
               <div class="col-md-4">
                  <h5 class="border-b-c-a">Most Read on TravelPulse</h5>
                <div class="aritcal-card-header mb-4">
                    <img src="./images/png/card/card-2x.png" alt="Image Alt Tag Goes here"' class="img-fluid">
                    <div class="box-air">
                        <div class="d-flex justify-content-between">
                            <h3>CAR & RAIL</h3>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-inside-1_9544_34197" fill="white">
<rect width="22" height="22" rx="1"/>
</mask>
<rect width="22" height="22" rx="1" stroke="white" stroke-width="4" mask="url(#path-1-inside-1_9544_34197)"/>
<line x1="18" y1="5" x2="12" y2="5" stroke="white" stroke-width="2"/>
<line x1="18" y1="9" x2="12" y2="9" stroke="white" stroke-width="2"/>
<line x1="18" y1="13" x2="4" y2="13" stroke="white" stroke-width="2"/>
<line x1="18" y1="17" x2="4" y2="17" stroke="white" stroke-width="2"/>
<rect x="4" y="4" width="6" height="6" fill="white"/>
</svg>

                        </div>
                        <h6 class="pe-4">The Great American Road Trip Goes Electric</h6>
                    </div>
                </div>
                <div class="artical-card-body">
                     <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
               <div class="align-items-center border-top-g d-flex hov">
                <h4 class="">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                    </h4>
                    <img src="./images/png/card/PlayButton.png" alt="Image Alt Tag Goes here"' class="w-h-img">
                    </div>
                <div class="align-items-center border-top-g d-flex hov">
                <h4 class="">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                    </h4>
                    <img src="./images/png/card/PlayButton.png" alt="Image Alt Tag Goes here"' class="w-h-img">
                    </div>
                </h4>
                <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
                </div>
               </div>
                  <div class="col-md-4">
                      <h5 class="border-b-c-a">Latest Industry Voices</h5>
                <div class="aritcal-card-header mb-4">
                    <img src="./images/png/card/card-2x.png" alt="Image Alt Tag Goes here" class="img-fluid">
                    <div class="box-air bg-card-1">
                        <div class="d-flex justify-content-between">
                            <h3>BUSINESS TRAVEL</h3>
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-inside-1_9544_34197" fill="white">
<rect width="22" height="22" rx="1"/>
</mask>
<rect width="22" height="22" rx="1" stroke="white" stroke-width="4" mask="url(#path-1-inside-1_9544_34197)"/>
<line x1="18" y1="5" x2="12" y2="5" stroke="white" stroke-width="2"/>
<line x1="18" y1="9" x2="12" y2="9" stroke="white" stroke-width="2"/>
<line x1="18" y1="13" x2="4" y2="13" stroke="white" stroke-width="2"/>
<line x1="18" y1="17" x2="4" y2="17" stroke="white" stroke-width="2"/>
<rect x="4" y="4" width="6" height="6" fill="white"/>
</svg>

                        </div>
                        <h6 class="pe-4">Is Business Travel Finally Coming Back?</h6>
                    </div>
                </div>
                <div class="artical-card-body">
                   
               <div class="align-items-center border-top-g d-flex hov">
                <h4 class="">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                    </h4>
                    <img src="./images/png/card/PlayButton.png" alt="Image Alt Tag Goes here"' class="w-h-img">
                    </div>
                <div class="align-items-center border-top-g d-flex hov">
                <h4 class="">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                    </h4>
                    <img src="./images/png/card/PlayButton.png" alt="Image Alt Tag Goes here"' class="w-h-img">
                    </div>
                </h4>
                <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
                  <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
                </div>
                  </div>
        </div>
    </div>
</section>