.artical-card{
    padding-top: 64px;
    padding-bottom: 64px;
    h5{
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #0B5188;
margin: 0;
padding-bottom: 8px;
    }
    .border-b-c-a{
        border-bottom: 7px solid #DFE3E6;
        margin-bottom: 24px;

    }
    .aritcal-card-header{
        .box-air{
height: 160px;
background: radial-gradient(84% 84% at 24.71% 8.4%, #073152 0%, #0B5188 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
opacity: 0.95;
padding-top: 16px;
padding-left: 24px;
padding-right: 16px;
padding-bottom: 24px;
h3{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
padding-bottom: 8px;
margin: 0;
}
h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 4px;
}
.bg-card-1{
    background: radial-gradient(84% 84% at 24.71% 8.4%, #412959 0%, #7B579F 100%)!important;
}
        }
    }
    .artical-card-body{
        .border-top-g{
            border-top:2px solid #BFC6CC; 
        }
    
        h4{
            font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111824;
    padding: 16px;
    margin: 0;
    &:hover{
      color: #0B5188;
    }
}
    .hov{
        &:hover{
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border: none;
        border-radius: 8px;
        z-index: 1000;
        padding-right: 12px;
        }
    }
    
        
        .w-h-img {
            width: 22px;
            height: 22px;
        }
    }

}

@media (max-width: 929px){
    .artical-card{ 
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
    }
}
