<div class="ov-image">
    <img src="{{imgSrc}}" alt="Image Alt Tag Goes here">
    <div class="ov-overlay">
        <p class="text">Americans Are Set on Revenge Traveling Despite Soaring Costs</p>
        <p class="name">LAURIE BARATTI </p>
    </div>
</div>