<section class="aadd-search d-lg-block d-none">
  <div class="container-fluid">
    <div class="justify-content-center row">
      <div class="col-md-12 aadd-search-2">
        <p>advertisement</p>
        <img src="./images/png/card/search-aadd.png" alt="Image Alt Tag Goes here" class="img-fluid">
      </div>
    </div>
  </div>
</section>