<section class="artical-card-1">
    <div class="container">
        <div class="row">
            <h2>Sponsored Content</h2>
            <div class="col-lg-4">
                <div class="card-ar">
                    <div class="card-image">
                    <img src="./images/png/card/card-ar.png" alt="Image Alt Tag Goes here" class="img-fluid rounded card-img-top-1">
                    <div class="card-bar"></div>
                    </div>
                    <h3>Promoted by the Excellence Collection</h3>
                    <p>Tropical Paradise in Cancun & Punta Cana</p>
                </div>
            </div>
               <div class="col-lg-4">
                <div class="card-ar">
                    <div class="card-image">
                    <img src="./images/png/card/card-ar.png" alt="Image Alt Tag Goes here" class="img-fluid rounded card-img-top-1">
                    <div class="card-bar"></div>
                    </div>
                    <h3>Promoted by the Excellence Collection</h3>
                    <p>Tropical Paradise in Cancun & Punta Cana</p>
                </div>
               </div>
                  <div class="col-lg-4">
                    <div class="card-ar">
                    <div class="card-image">
                    <img src="./images/png/card/card-ar.png" alt="Image Alt Tag Goes here" class="img-fluid rounded card-img-top-1">
                    <div class="card-bar"></div>
                    </div>
                    <h3>Promoted by the Excellence Collection</h3>
                    <p>Tropical Paradise in Cancun & Punta Cana</p>
                </div>
                  </div>
        </div>
    </div>
</section>