
    <div class="container">
        <section class="subscribe">
        <div class="align-items-center row">
            <div class="col-md-1">
                <img src="images/png/card/Animated Plane Lg.png" alt="">
                
            </div>
            <div class="col-md-9">
                <h1 class="m-0">The world is huge. Don’t miss any of it. Subscribe To Our Newsletter.</h1>
                <p class="m-0">Subscribe to our newlsetter and get all the latest travel news.</p>
            </div>
            <div class="col-md-2">
                <a class="btn btn-subscribe">
                    Subscribe
                </a>
            </div>
        </div>
        </section>
    </div>