
    <div class="container m-c-10">
        <section class="subscribe my-lg-4">
        <div class="align-items-center row">
            <div class="col-md-1">
                <img src="images/svg/icons/AnimatedPlaneLg.svg" alt="">
                
            </div>
            <div class="col-md-9">
                <h1 class="m-0">The world is huge. Don’t miss any of it. Subscribe To Our Newsletter.</h1>
                <p class="m-0">Subscribe to our newlsetter and get all the latest travel news.</p>
            </div>
            <div class="col-md-2">
                <a class="btn btn-subscribe">
                    Subscribe
                </a>
            </div>
        </div>
        </section>
        <div class="ab-card d-block d-lg-none m-0 my-12 col-md-6">
                    <p class="p-0">advertisement</p>
                    <img src="images/png/card/card-ad-sm.png" alt="" class="img-fluid">
                    </div>
    </div>