.read-news{

padding-top: 30px;
padding-bottom: 34px;

    .border-bottom-b{
        border-bottom: 3px solid #217BC0;
        margin-left: 16px;
    }
    h1{
        font-family: 'Roboto Slab';
font-style: normal;
font-weight: 200;
font-size: 48px;
line-height: 63px;
color: black;
padding-bottom: 40px;
span{
    font-weight: 400;
font-size: 48px;
line-height: 63px;
color: black;
}
    }
    p{
        font-family: 'Roboto Serif';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 32px;
color: black;

    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .read-news{
        h1{
            font-size: 46px;
        }
        p {
        
            font-size: 14px;
         
            
        }
    }
}
@media (max-width: 929px){

    .read-news{
        padding: 32px 24px;
        h1{
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 200;
            font-size: 32px;
            line-height: 42px;
            color: black;
            padding: 0;
            margin: 0;
    span{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
    }
    .border-bottom-b{
        margin-left:0;
    }
        }
        p{
            font-family: 'Roboto Serif';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 32px;
padding-top: 24px;
padding-bottom: 20px;
margin: 0;
    
        }
    }
}