<section class="read-news">
    <div class="container">
        <div class="align-items-center justify-content-between row d-lg-flex d-none">
            <div class="col-6">
                <h1>Read:<span class="border-bottom-b">Latest News</span></h1>
                </div>
                <div class="col-2">
                <p>July 14, 2022 | 11:31 am</p>
            </div>
        </div>
        <div class="row d-lg-none d-block">
            <div class="col-12">
                <h1>Read:<br>
                <span class="border-bottom-b">Latest News</span></h1>
                </div>
                <div class="col-12">
                <p>July 14, 2022 | 11:31 am</p>
            </div>
        </div>
    </div>
    </section>
