<section class='container-fluid horizontal-top-aadd'>
    <div class='row'>
      <div class='col-md-12'>
        <div
          class='label d-flex flex-row justify-content-center font-family-roboto-slap'
        >
          advertisement
        </div>
        <div class='aadd-img d-flex flex-row justify-content-center'>
          <img
            class='img-fluid'
            src='/images/png/ads/ad-3-1-2x.png'
            alt='aadd-three'
          >
        </div>
      </div>
    </div>
</section>