.artical-1{
    padding-top: 24px;
    padding-bottom: 80px;
    .img-artical{
        p{
            font-family: 'Roboto Serif';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin: 0;
padding-top: 8px;
color: #566673;
        }
    }
    
    p{
        font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1D2226;
    mix-blend-mode: normal;
    padding-bottom: 16px;
    margin: 0;
    }
    h1{
        font-family: 'Roboto Serif';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #1D2226;
padding: 16px 0px;
mix-blend-mode: normal;
margin: 0;
    }
    .text-blue-1{
     color: #0B5188!important;
    }
    h2{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    mix-blend-mode: normal;
    margin-top: 36px!important;
    margin-bottom: 36px!important;
    padding: 0px 32px;
    }
    .border-left-1{
        border-left: 7px solid #217BC0;
    }
    h3{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0B5188;
    padding-top: 32px;
    margin: 0;
    
    }
    .border-h{
        border-bottom: 7px solid  #DFE3E6;
       
    }
    .btn-artical{
        padding: 8px 20px;
    gap: 8px;
    background: #FFFFFF;
    border: 1.5px solid #BFC6CC;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #0B5188;
    margin-right: 12px;
    }
    .ab-card {
        padding: 6px 25px 25px;
        background: #EFEFEF;
        margin-bottom: 32px;
        p{
            font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0;
        color: #929292;
        }
    }
    .pe-64{
        padding-right: 22px;
    }
    .btn-bg{
        background: #D83B5A!important;
        border-color:#D83B5A!important;
    }
    .bg-section{background: linear-gradient(180deg, #FFEBEC 0%, #FFDBDC 100%)!important;}
    .btn-subscribe{
        
    &:hover {
        background: #0B5188!important;
        border-color:#0B5188!important;
    
    }
    }
    }
    @media (max-width: 929px){
        .artical-1{
            padding-left: 24px;
            padding-right: 24px;
            p{
                padding-top: 0px!important;
            }
            .body-card {padding: 0px;}
            .header-sm{
                padding-top: 0px;
                padding-bottom: 8px;
                h3{
                    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0B5188;
    padding-bottom: 8px;
                }
                p{
                    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #0267B8;
                }
                .border-bottom-sm{
                    border-bottom: 7px solid #DFE3E6!important;
                }
            }
            .body-sm{
                .body-head{
                    h6{
                        font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #217BC0;
                    }
                    h3{
                        font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-top: 4px;
    padding-bottom: 4px;
                    }
                    h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    
    
    color: #607180;
                    }
                }
            }
        }
        .pe-64{
            padding-right: 0px;
        }
        .btn-artical{
            margin-bottom: 16px;
            margin-right: 16px;
        }
        .pb-72{
            padding-bottom: 56px;
        
        }
    }