<div class="aadd d-lg-block d-none">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-md-10 aadd-2">
        <p>advertisement</p>
        <img src="images/png/card/add.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
