.group-card {
  width: 343px;
  position: relative;
  .card-border{
    .header-sm {
        padding-top: 0px;
        padding-bottom: 8px;
   
    h3{
        font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0B5188;
    padding-bottom: 8px
    }
    p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        color: #0267B8;
    }
    .border-bottom-sm{
        border-bottom: 7px solid #DFE3E6!important;
    }
}
}
  a{
    &:hover{
      color: #434F5A;
    }
  }
  .main-news-card {
    cursor: pointer;
    overflow: hidden;
    border: none;
    margin-bottom: 16px;
    transition: box-shadow .2s linear;

    .img-top {
        overflow: hidden;
        position: relative;
        .img-bar {
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 7px;
            background-color: #217BC0;
            transition: transform 0.5s;
        }
      }

    .card-img-top {
      transition: transform 0.5s;
    }

    .card-body {
      padding: 16px;
        
      .title-group .card-title {
        font-size: 14px;
        color: #217bc0;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
        font-family: 'Roboto';
      }

      .card-text {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #000;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        padding-right: 44px;
        margin-bottom: 0;
        font-family: 'Roboto Serif';
        transition: color 0.2s;
      }

      .author {
        color: #607180;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        font-family: 'Roboto';
      }

      .btn-share {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #434F5A;
        padding: 8px 14px;
        background: #FFFFFF;
        border: 1px solid #F2F4F7;
        box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
        border-radius: 8px;
        visibility: hidden;
      }
    }
  }

  .group-list-card {
    border: none;
    .list-group {
      .list-group-item {
        padding: 18px;
        border-radius: 0;
        border: none;
        font-family: 'Roboto Serif';
        font-size: 16px;
        color: #111824;
        transition: box-shadow 0.2s;
        cursor: pointer;

        .list-icon {
          
          .blue-icon {
            transition: display .2s;
            display: none;
          }

          .black-icon {
            transition: display .2s;
          }
        }
        
      }

      .list-group-item:hover {
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
        border: none;
        border-radius: 8px;
        z-index: 1000;
        color: #0B5188;

        .list-icon {
          .black-icon {
            display: none;
          }
          .blue-icon {
            display: inline;
          }
        }
      }

      .top-border {
        border-top: 2px solid #BFC6CC;
        transition: all 0.1s;
      }
    }
  }
}

.main-news-card:hover .card-img-top {
  transform: scale(1.05);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.main-news-card:hover .btn-share {
  visibility: visible !important;
}


.main-news-card:hover .img-top .img-bar {
    transform: translateX(-100%);
  }

.main-news-card:hover {
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
}

@media (max-width: 929px){

  .group-card {
    padding-bottom: 64px;
    width: auto!important;
    .main-news-card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding:24px 0px;
      margin: 0;
      .img-top {
        width: 100%!important;
        overflow: initial;
        .img-bar{
          display:none;
        }
      }
      .card-img-top {
        border-radius: 8px;
        padding-right: 0!important;
      }
      .card-body {
        padding: 16px;
        width: 100%!important;
        .title-group{
         .card-title {
          font-size: 12px;
          line-height: 18px;
          font-weight: 500;
        }
        .title-icon{
          display:none!important;
        }
      }
      .card-text {
        font-size: 14px;
        line-height: 20px;
        padding-right: 0px;
        padding-top: 0px;
          padding-bottom: 0px;
      }
      }
  }
  }




}
@media (max-width: 575px){
  .group-card {
    .main-news-card {
      .img-top {
        width: 128px !important;
        height: 128px;
        overflow: initial;
    }
    .card-img-top {
      width: 128px;
      height: 100%;
      max-width: 128px!important;
      border-radius: 8px;
      padding-right:0!important;
      object-fit: cover;
    }
    .card-body {
      padding-left: 1rem;
    }
    }
  }

}