<div class="container news-ov-images">
    <div class="row">
        <div class="col-sm-4 image-col-v">
            {{>text-ov-image imgSrc="/images/png/ov-images/passport-2x.png"}}
        </div>
        <div class="col-sm-4 image-col d-sm-block d-none">
            {{>text-ov-image imgSrc="/images/png/ov-images/building-2x.png"}}
        </div>
        <div class="col-sm-4 d-sm-block d-none">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row images-h">
                        <div class="col-sm-12 col-image-h">
                            {{>text-ov-image imgSrc="/images/png/ov-images/landscape-2x.png"}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-image-h">
                            {{>text-ov-image imgSrc="/images/png/ov-images/men-2x.png"}}
                        </div>
                        <div class="col-sm-6 col-image-h">
                            {{>text-ov-image imgSrc="/images/png/ov-images/awindow-2x.png"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-block d-sm-none small-screen-ov">
        <div class="col-sm-12">
            <div class="news">
                <div class="image">
                    <img src="/images/png/ov-images/passport-2x.png" alt="Image Alt Tag Goes here">
                </div>
                <div class="news-body">
                    <p class="label">News</p>
                    <p class="text">Travel Advisors Highlight Emerging Trends, New Challenges</p>
                    <p class="author">Author</p>
                </div>
            </div>
            <div class="news">
                <div class="image">
                    <img src="/images/png/ov-images/passport-2x.png" alt="Image Alt Tag Goes here">
                </div>
                <div class="news-body">
                    <p class="label">News</p>
                    <p class="text">Travel Advisors Highlight Emerging Trends, New Challenges</p>
                    <p class="author">Author</p>
                </div>
            </div>
            <div class="news">
                <div class="image">
                    <img src="/images/png/ov-images/passport-2x.png" alt="Image Alt Tag Goes here">
                </div>
                <div class="news-body">
                    <p class="label">News</p>
                    <p class="text">Travel Advisors Highlight Emerging Trends, New Challenges</p>
                    <p class="author">Author</p>
                </div>
            </div>
        </div>
    </div>
</div>