.line {
    display: block;
    margin: 64px 0px 64px 0px;
    
 

    h2 {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #566673;

        text-align: center;
        border-bottom: 7px solid #4A5578;
        position: relative;

        #article-counter {
            display: inline;
           

            span {
                background-color: white;
                position: relative;
                top: 44px;
                padding: 0px 24px;
             
            }
        }
    }

    #article-spinner {
        display: none;
    background-color: white;
    position: relative;
    top: 18px;
    padding: 0px 24px;
    }

    .text-span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #566673;
    }
}