<section class="related-card">
    <div class="container">
          <h2 class="p-0">Related Offers</h2>
        <div class="row border-top-r">
            <div class="col-lg-6 pb-5 ps-0 pt-3">
                <div class="align-items-center d-flex">
                    <img src="./images/png/card/related-card.png" alt="Image Alt Tag Goes here" class="img-fluid h-w">
                    <Div class="ps-3">
                        <h3 class="pt-0">Travel Impressions</h3>
                        <h4>Windstar Knows the Way to Christmas in July</h4>
                        <h5>Expires in July</h5>
                    </Div>
                </div>

            </div>
             <div class="col-lg-6 pb-5 pe-0 pt-3">
                <div class="align-items-center d-flex">
                    <img src="./images/png/card/related-card.png" alt="Image Alt Tag Goes here" class="img-fluid h-w">
                    <Div class="ps-3">
                        <h3 class="pt-0">Travel Impressions</h3>
                        <h4>Windstar Knows the Way to Christmas in July</h4>
                        <h5>Expires in July</h5>
                    </Div>
                </div>

            </div>
        </div>
    </div>
</section>