.atrical-heading{
    padding: 24px 0px;
    h3{
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
padding: 8px 0px;
margin: 0;
color: #0267B7;
    }
    h1{
        font-family: 'Roboto Slab';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
padding-bottom: 10px;
padding-top: 8px;
letter-spacing: -0.02em;
color: #000000;
margin: 0;
    }
    h4{
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #566673;
margin: 0;
    }
}
@media (max-width: 929px){
    .atrical-heading{
        padding: 24px;
        h1{
            font-weight: 500;
font-size: 36px;
line-height: 44px;
        }
        h4{
            display:none;
        }
    }
}