<section class="feature-card">
    <div class="container">
        <div class="row">

            {{#each cards}}
            <div class="col-lg-4 ">
                {{>base-card card=this}}
            </div>
            {{/each}}

        </div>
    </div>
</section>