.feature-card{
    padding-top: 72px;
    padding-bottom: 82px;
}
@media (max-width: 930px){
    .feature-card{
        padding-top: 0!important;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0;
        .paddding-h4{
            padding-left: 31.5px;
    padding-right: 31.5px;
        }
        .border-bottom-sm{
            border-bottom: 7px solid #DFE3E6!important;
        }
}
}