<section class="feature-card">
    <div class="container">
        <div class="row d-lg-flex d-none">
            <div class="col-md-4 ">
                <div class="header-card position-relative">
                    <p>
                        <img src="images/png/card/Icon-header.png" alt="">
                         Featured</p>
                    <img src="images/png/card/card-image.png" alt="" class="img-fluid">
                    <div class="divder"></div>
                   

                </div>
                <div class="body-card">
                     <div class="d-flex p-news justify-content-between mt-2">
                    <p class="card-news m-0">Cruise</p>
                    <img src="images/png/card/Article.png" alt="" class="w-h-img">
                    </div>
                    <h2 class="m-0">Disney Cruises Launches New Ship “Disney Wish”</h2>
                     <h6 class="border-card m-0">Livia Geidt</h6>
                    <h4 class="border-card m-0">Everything I like to do on Disney Cruises + What Not To Do</h4>
                     <div class="border-card d-flex"><h4 class="m-0">I Was On The First Sailing Of The Disney Wish, Here Are My 10 Favorite Experiences Onboard</h4>
                     <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                       </div>
                        <h4 class="m-0 py-3" >Disney, Royal Caribbean's Celebrity Cruise Lines Claim a Big Win</h4>
                        
                </div>

            </div>
              <div class="col-md-4 ">
                <div class="header-card-1 position-relative">
                     <div class="img-top">
                    <img src="images/png/card/card-Image -2.png" alt="" class="img-fluid">
                   <div class="img-bar"></div>
                    </div>
                    <div class="d-flex p-news justify-content-between">
                    <p class="card-news m-0">AIRLINES & AIRPORTS</p>
                    <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                    </div>
                    <h2 class="m-0">Weekend Brings Highest Passenger Numbers Since Before COVID-19</h2>
                    <h6 class="border-card m-0">Livia Geidt</h6>
                </div>
                <div class="body-card">
                    <h4 class="border-card m-0">American Airlines Regional Carrier Offering Pilots Triple Pay</h4>
                       <h4 class="m-0 border-card" >JetBlue Announces New Spirit Offer After Advisory Firm Sides With Frontier</h4>
                     <div class=" d-flex py-3"><h4 class="m-0">LATAM Airlines to Eliminate Single-Use Plastics by 2023</h4>
                     <img src="images/png/card/PlayButton.png" alt="" class="w-h-img">
                       </div>
                     
                </div>

            </div>
            <div class="col-md-4 ">
                <div class="header-card-1 position-relative">
                
                    <img src="images/png/card/card-Image-3.png" alt="" class="img-fluid">
                    <div class="divder-1"></div>
                     <div class="d-flex p-news justify-content-between">
                    <p class="card-news m-0">BUSINESS TRAVEL</p>
                    <img src="images/png/card/Article.png" alt="" class="w-h-img">
                    </div>
                    <h2 class="m-0">Is Business Travel Finally Coming Back?</h2>
                    <h6 class="border-card m-0">Marley Lubin</h6>
                </div>
                <div class="body-card">
                    <div class="border-card d-flex"> <h4 class=" m-0">Las Vegas to Re-Invest in International Marketing</h4>
                     <img src="images/png/card/PlayButton.png" alt="" class="w-h-img">
                       </div>
                     <h4 class="m-0 border-card " >The Best and Worst US Airports for Summer Flight Delays</h4>
                     <div class="d-flex py-3"><h4 class="m-0">TravelPulse Podcast: How the Travel Industry Continues to Innovate and Adjust</h4>
                     <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                       </div>
                      
                </div>

            </div>
        </div>
        <div class="row d-lg-none d-block">
            <div class="col-12 pb-72">
                <div class="align-items-baseline border-bottom-sm d-flex header-sm justify-content-between ">
                    <h3>Cruise</h3>
                    <p class="m-0">See More</p>
                </div>
                <div class="body-sm body-card ">
                    <div class="align-items-center body-head d-flex border-card">
                        <figure class="pe-3 m-0"><img src="images/png/card/card-Image-sm.png" alt="" class="rounded pb-2"></figure>
                        <div class="">
                            <h6 class="m-0 p-0">News </h6>
                            <h3 class="m-0">Come Set Sail the Virgin Way</h4>
                            <h5 class="m-0">Ashlynn Septimus</h5>

                        </div>
                    </div>
                    <h4 class="border-card m-0 paddding-h4">Eye on Europe: What You Should Know for Summer 2022</h4>
                    <h4 class="border-card m-0 paddding-h4">Norwegian Cruise Line Holdings Drops Testing Requirement From Safety Protocols</h4>
                    <div class="border-card d-flex "><h4 class="m-0 paddding-h4">TravelPulse Podcast: How the Travel Industry Continues to Innovate and Adjust</h4>
                       <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                         </div>
                </div>
            </div>
              <div class="col-12 pb-72">
                <div class="align-items-baseline border-bottom-sm d-flex header-sm justify-content-between ">
                    <h3>Cruise</h3>
                    <p class="m-0">See More</p>
                </div>
                <div class="body-sm body-card ">
                    <div class="align-items-center body-head d-flex border-card">
                        <figure class="pe-3 m-0"><img src="images/png/card/card-Image-sm.png" alt="" class="rounded pb-2"></figure>
                        <div class="">
                            <h6 class="m-0 p-0">News </h6>
                            <h3 class="m-0">Come Set Sail the Virgin Way</h4>
                            <h5 class="m-0">Ashlynn Septimus</h5>

                        </div>
                    </div>
                    <h4 class="border-card m-0 paddding-h4">Eye on Europe: What You Should Know for Summer 2022</h4>
                    <h4 class="border-card m-0 paddding-h4">Norwegian Cruise Line Holdings Drops Testing Requirement From Safety Protocols</h4>
                    <div class="border-card d-flex "><h4 class="m-0 paddding-h4">TravelPulse Podcast: How the Travel Industry Continues to Innovate and Adjust</h4>
                       <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                         </div>
                </div>
            </div>
              <div class="col-12 pb-72">
                <div class="align-items-baseline border-bottom-sm d-flex header-sm justify-content-between ">
                    <h3>Cruise</h3>
                    <p class="m-0">See More</p>
                </div>
                <div class="body-sm body-card ">
                    <div class="align-items-center body-head d-flex border-card">
                        <figure class="pe-3 m-0"><img src="images/png/card/card-Image-sm.png" alt="" class="rounded pb-2"></figure>
                        <div class="">
                            <h6 class="m-0 p-0">News </h6>
                            <h3 class="m-0">Come Set Sail the Virgin Way</h4>
                            <h5 class="m-0">Ashlynn Septimus</h5>

                        </div>
                    </div>
                    <h4 class="border-card m-0 paddding-h4">Eye on Europe: What You Should Know for Summer 2022</h4>
                    <h4 class="border-card m-0 paddding-h4">Norwegian Cruise Line Holdings Drops Testing Requirement From Safety Protocols</h4>
                    <div class="border-card d-flex "><h4 class="m-0 paddding-h4">TravelPulse Podcast: How the Travel Industry Continues to Innovate and Adjust</h4>
                       <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                         </div>
                </div>
            </div>
        </div>
    </div>
</section>