<section class="avtar">
    <div class="container">
        <div class="align-items-center d-flex justify-content-center row">
            <div class="col-lg-7 col-12 profile text-center">
                <img src="images/png/card/Profile-1.png" alt="Image Alt Tag Goes here" class="avatar-img">
                <h2>Firstname Lastname</h2>
                <h5>Senior Writer</h5>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                <div class="">
                    <a href="" class="btn btn-avtar">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.03168 14.5005C11.0694 14.5005 14.3718 9.49823 14.3718 5.16031C14.3718 5.01823 14.3718 4.87679 14.3622 4.73599C15.0047 4.27129 15.5593 3.69591 16 3.03679C15.4009 3.30239 14.7654 3.47649 14.1146 3.55327C14.7999 3.14306 15.3128 2.49779 15.5578 1.73759C14.9134 2.11999 14.2084 2.38947 13.4733 2.53439C12.9783 2.0081 12.3237 1.65961 11.6108 1.54284C10.8978 1.42607 10.1663 1.54753 9.52931 1.88842C8.89234 2.22931 8.38548 2.77064 8.08716 3.42862C7.78884 4.0866 7.71569 4.82456 7.87904 5.52831C6.57393 5.46284 5.29717 5.12366 4.13164 4.53279C2.9661 3.94192 1.93784 3.11256 1.1136 2.09855C0.693819 2.82121 0.565248 3.6767 0.754066 4.49083C0.942885 5.30496 1.43489 6.01652 2.12992 6.48063C1.60749 6.46532 1.09643 6.32438 0.64 6.06975V6.11135C0.640207 6.86925 0.902567 7.60374 1.38258 8.19026C1.86259 8.77677 2.53071 9.17919 3.2736 9.32927C2.79032 9.46109 2.28325 9.48036 1.79136 9.38559C2.00121 10.0378 2.40962 10.6081 2.95949 11.0169C3.50937 11.4256 4.17322 11.6523 4.85824 11.6653C4.17763 12.2002 3.39821 12.5958 2.56458 12.8293C1.73096 13.0627 0.859476 13.1296 0 13.0259C1.50122 13.9893 3.24795 14.5002 5.03168 14.4979"
                                fill="#0B5188" />
                            <path
                                d="M5.03168 14.5005C11.0694 14.5005 14.3718 9.49823 14.3718 5.16031C14.3718 5.01823 14.3718 4.87679 14.3622 4.73599C15.0047 4.27129 15.5593 3.69591 16 3.03679C15.4009 3.30239 14.7654 3.47649 14.1146 3.55327C14.7999 3.14306 15.3128 2.49779 15.5578 1.73759C14.9134 2.11999 14.2084 2.38947 13.4733 2.53439C12.9783 2.0081 12.3237 1.65961 11.6108 1.54284C10.8978 1.42607 10.1663 1.54753 9.52931 1.88842C8.89234 2.22931 8.38548 2.77064 8.08716 3.42862C7.78884 4.0866 7.71569 4.82456 7.87904 5.52831C6.57393 5.46284 5.29717 5.12366 4.13164 4.53279C2.9661 3.94192 1.93784 3.11256 1.1136 2.09855C0.693819 2.82121 0.565248 3.6767 0.754066 4.49083C0.942885 5.30496 1.43489 6.01652 2.12992 6.48063C1.60749 6.46532 1.09643 6.32438 0.64 6.06975V6.11135C0.640207 6.86925 0.902567 7.60374 1.38258 8.19026C1.86259 8.77677 2.53071 9.17919 3.2736 9.32927C2.79032 9.46109 2.28325 9.48036 1.79136 9.38559C2.00121 10.0378 2.40962 10.6081 2.95949 11.0169C3.50937 11.4256 4.17322 11.6523 4.85824 11.6653C4.17763 12.2002 3.39821 12.5958 2.56458 12.8293C1.73096 13.0627 0.859476 13.1296 0 13.0259C1.50122 13.9893 3.24795 14.5002 5.03168 14.4979"
                                fill="black" fill-opacity="0.2" />
                        </svg>

                    </a>
                    <a href="" class="btn btn-avtar">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.3335 4.66669L6.77678 8.47698C7.21756 8.78553 7.43795 8.9398 7.67767 8.99956C7.88943 9.05234 8.1109 9.05234 8.32265 8.99956C8.56238 8.9398 8.78277 8.78553 9.22355 8.47698L14.6668 4.66669M4.5335 13.3334H11.4668C12.5869 13.3334 13.147 13.3334 13.5748 13.1154C13.9511 12.9236 14.2571 12.6177 14.4488 12.2413C14.6668 11.8135 14.6668 11.2535 14.6668 10.1334V5.86669C14.6668 4.74658 14.6668 4.18653 14.4488 3.75871C14.2571 3.38238 13.9511 3.07642 13.5748 2.88467C13.147 2.66669 12.5869 2.66669 11.4668 2.66669H4.5335C3.41339 2.66669 2.85334 2.66669 2.42552 2.88467C2.04919 3.07642 1.74323 3.38238 1.55148 3.75871C1.3335 4.18653 1.3335 4.74658 1.3335 5.86669V10.1334C1.3335 11.2535 1.3335 11.8135 1.55148 12.2413C1.74323 12.6177 2.04919 12.9236 2.42552 13.1154C2.85334 13.3334 3.41339 13.3334 4.5335 13.3334Z"
                                stroke="#0B5188" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M1.3335 4.66669L6.77678 8.47698C7.21756 8.78553 7.43795 8.9398 7.67767 8.99956C7.88943 9.05234 8.1109 9.05234 8.32265 8.99956C8.56238 8.9398 8.78277 8.78553 9.22355 8.47698L14.6668 4.66669M4.5335 13.3334H11.4668C12.5869 13.3334 13.147 13.3334 13.5748 13.1154C13.9511 12.9236 14.2571 12.6177 14.4488 12.2413C14.6668 11.8135 14.6668 11.2535 14.6668 10.1334V5.86669C14.6668 4.74658 14.6668 4.18653 14.4488 3.75871C14.2571 3.38238 13.9511 3.07642 13.5748 2.88467C13.147 2.66669 12.5869 2.66669 11.4668 2.66669H4.5335C3.41339 2.66669 2.85334 2.66669 2.42552 2.88467C2.04919 3.07642 1.74323 3.38238 1.55148 3.75871C1.3335 4.18653 1.3335 4.74658 1.3335 5.86669V10.1334C1.3335 11.2535 1.3335 11.8135 1.55148 12.2413C1.74323 12.6177 2.04919 12.9236 2.42552 13.1154C2.85334 13.3334 3.41339 13.3334 4.5335 13.3334Z"
                                stroke="black" stroke-opacity="0.2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </a>
                </div>
            </div>
        </div>

        <div class="justify-content-center row gap-24">
            <div class="col-md-5">
                <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
                <div class="align-items-center border-top-g d-flex hov">
                    <h4 class="">
                        Jamaica Travel: What You Need To Know Before Visiting This Summer
                    </h4>
                    <img class="black-icon pe-2" src="/images/svg/icons/Button.svg" alt="Image Alt Tag Goes here">
                    <img class="blue-icon pe-2" src="/images/svg/icons/play-icon-blue.svg" alt="Image Alt Tag Goes here">
                </div>
                <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
            </div>
            <div class="col-md-5">
                <div class="align-items-center border-top-g d-flex hov">
                    <h4 class="">
                        Jamaica Travel: What You Need To Know Before Visiting This Summer
                    </h4>
                    <img class="black-icon pe-2" src="/images/svg/icons/Button.svg" alt="Image Alt Tag Goes here">
                    <img class="blue-icon pe-2" src="/images/svg/icons/play-icon-blue.svg" alt="Image Alt Tag Goes here">
                </div>
                <div class="align-items-center border-top-g d-flex hov">
                    <h4 class="">
                        Jamaica Travel: What You Need To Know Before Visiting This Summer
                    </h4>
                    <img class="black-icon pe-2" src="/images/svg/icons/Button.svg" alt="Image Alt Tag Goes here">
                    <img class="blue-icon pe-2" src="/images/svg/icons/play-icon-blue.svg" alt="Image Alt Tag Goes here">
                </div>
                <h4 class="border-top-g hov">
                    Jamaica Travel: What You Need To Know Before Visiting This Summer
                </h4>
            </div>
        </div>
    </div>
</section>