<section class="card-ad-1">
    <div class="container">
         <div class="row d-lg-flex d-none">
            <div class="align-items-baseline col-md-4 d-flex p-0">
                <div class="ab-card">
                <p>advertisement</p>
                <img src="images/png/card/card-ad-1.png" alt="">
                </div>
            </div>
              <div class="col-md-4 ">
                <div class="header-card-1 position-relative">
                    <img src="images/png/card/card-Image-6.png" alt="" class="img-fluid">
                    <div class="divder-1"></div>
                </div>
                <div class="body-card">
                    <div class="d-flex p-news justify-content-between">
                    <p class="card-news m-0">LBGTQ</p>
                    <img src="images/png/card/Carousel.png" alt="" class="w-h-img">
                    </div>
                    <h2 class="m-0">New Research Reveals Challenges LGBTQ Travelers Still Face</h2>
                    <h6 class="border-card m-0">Martha Graham</h6>
                    <h4 class="border-card m-0">What’s Trending in LGBTQ Travel This Year</h4>
                       <h4 class="m-0 border-card" >Europe’s Most LGBTQ+-Friendly Countries Ranked for Travelers</h4>
                     <div class="d-flex py-3"><h4 class="m-0">The Best Travel Companies for LGBTQ+ Equality</h4>
                     <img src="images/png/card/PlayButton.png" alt="" class="w-h-img">
                       </div>
                </div>

            </div>
            <div class="col-md-4 ">
                <div class="header-card-1 position-relative">
                
                    <img src="images/png/card/card-Image-7.png" alt="" class="img-fluid">
                    <div class="divder-1"></div>
                </div>
                <div class="body-card">
                    <div class="d-flex p-news justify-content-between">
                    <p class="card-news m-0">PEOPLE</p>
                    <img src="images/png/card/Article.png" alt="" class="w-h-img">
                    </div>
                    <h2 class="m-0">Willie Montano Joins Collette as Senior Director, Global Brand Marketing</h2>
                    <h6 class="border-card m-0">Cady Heron</h6>
                    
                     <h4 class="m-0 border-card " >NYC & Company Announces Staff Promotions</h4>
                      <h4 class="m-0 border-card " >John Kirk Talks Travel with Canada's Leading Retail Executives</h4>
                       <h4 class="m-0 py-3 " >Collette Promotes Sawyer Shoates to Regional Sales Director, Central USA</h4>
                      
                </div>

            </div>
        </div>
        <div class="row d-lg-none d-block">
            <div class="col-12 pb-72">
                <div class="align-items-baseline border-bottom-sm d-flex header-sm justify-content-between ">
                    <h3>Cruise</h3>
                    <p class="m-0">See More</p>
                </div>
                <div class="body-sm body-card ">
                    <div class="align-items-center body-head d-flex border-card">
                        <figure class="pe-3 m-0"><img src="images/png/card/card-Image-sm.png" alt="" class="rounded pb-2"></figure>
                        <div class="">
                            <h6 class="m-0 p-0">News </h6>
                            <h3 class="m-0">Come Set Sail the Virgin Way</h4>
                            <h5 class="m-0">Ashlynn Septimus</h5>

                        </div>
                    </div>
                    <h4 class="border-card m-0 paddding-h4">Eye on Europe: What You Should Know for Summer 2022</h4>
                    <h4 class="border-card m-0 paddding-h4">Norwegian Cruise Line Holdings Drops Testing Requirement From Safety Protocols</h4>
                    <div class="border-card d-flex "><h4 class="m-0 paddding-h4">TravelPulse Podcast: How the Travel Industry Continues to Innovate and Adjust</h4>
                       <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                         </div>
                </div>
            </div>
              <div class="col-12 pb-72">
                <div class="align-items-baseline border-bottom-sm d-flex header-sm justify-content-between ">
                    <h3>Cruise</h3>
                    <p class="m-0">See More</p>
                </div>
                <div class="body-sm body-card ">
                    <div class="align-items-center body-head d-flex border-card">
                        <figure class="pe-3 m-0"><img src="images/png/card/card-Image-sm.png" alt="" class="rounded pb-2"></figure>
                        <div class="">
                            <h6 class="m-0 p-0">News </h6>
                            <h3 class="m-0">Come Set Sail the Virgin Way</h4>
                            <h5 class="m-0">Ashlynn Septimus</h5>

                        </div>
                    </div>
                    <h4 class="border-card m-0 paddding-h4">Eye on Europe: What You Should Know for Summer 2022</h4>
                    <h4 class="border-card m-0 paddding-h4">Norwegian Cruise Line Holdings Drops Testing Requirement From Safety Protocols</h4>
                    <div class="border-card d-flex "><h4 class="m-0 paddding-h4">TravelPulse Podcast: How the Travel Industry Continues to Innovate and Adjust</h4>
                       <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                         </div>
                </div>
            </div>
        </div>
    </div>
</section>