<section class="card-aadd-1">
    <div class="container">
        <div class="row">
            <div class="align-items-baseline col-lg-4 d-lg-flex d-none p-0">
                <div class="aabb-card">
                    <p>advertisement</p>
                    <img src="images/png/card/card-ad-1.png" alt="">
                </div>
            </div>
            {{#each cards}}
            <div class="col-md-4">
                {{>base-card card=this}}
            </div>
            {{/each}}
        </div>
        <div class="ab-card d-block d-lg-none m-0 my-12 col-md-6">
            <p class="p-0">advertisement</p>
            <img src="images/png/card/hilton-1@2x.png" alt="" class="img-fluid">
        </div>
    </div>
</section>