.card-ad-1{
    padding-top: 72px;
    padding-bottom: 0px;
    .ab-card{
        padding: 6px 25px 25px;
background: #EFEFEF;
p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
margin: 0;
color: #929292;
padding-bottom: 6px;
padding-top: 3px;
}

    }
}
@media (max-width: 930px){
    .card-ad-1{
        padding-top: 0!important;
        padding-left: 16px;
        padding-right: 16px;
    }
}