<section class="card-ad-1">
    <div class="container">
         <div class="row d-lg-flex d-none">
            <div class="align-items-baseline col-md-4 d-flex p-0">
                <div class="ab-card">
                <p>advertisement</p>
                <img src="images/png/card/card-ad-1.png" alt="">
                </div>
            </div>
              <div class="col-md-4 ">
                
               {{>base-card}}

            </div>
            <div class="col-md-4 ">
               
                 {{>base-card}}

            </div>
        </div>
       <div class="ab-card d-block d-lg-none m-0 my-12 col-md-6">
                    <p class="p-0">advertisement</p>
                    <img src="images/png/card/hilton-1@2x.png" alt="" class="img-fluid">
                    </div>
        <div class="row d-lg-none d-block">
            <div class="col-12 pb-72">
                <div class="align-items-baseline border-bottom-sm d-flex header-sm justify-content-between ">
                    <h3>Cruise</h3>
                    <p class="m-0">See More</p>
                </div>
                <div class="body-sm body-card ">
                    <div class="align-items-center body-head d-flex border-card">
                        <figure class="pe-3 m-0"><img src="images/png/card/card-Image-sm.png" alt="" class="rounded pb-2"></figure>
                        <div class="">
                            <h6 class="m-0 p-0">News </h6>
                            <h3 class="m-0">Come Set Sail the Virgin Way</h4>
                            <h5 class="m-0">Ashlynn Septimus</h5>

                        </div>
                    </div>
                    <h4 class="border-card m-0 paddding-h4">Eye on Europe: What You Should Know for Summer 2022</h4>
                    <h4 class="border-card m-0 paddding-h4">Norwegian Cruise Line Holdings Drops Testing Requirement From Safety Protocols</h4>
                    <div class="border-card d-flex "><h4 class="m-0 paddding-h4">TravelPulse Podcast: How the Travel Industry Continues to Innovate and Adjust</h4>
                       <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                         </div>
                </div>
            </div>
              <div class="col-12 pb-72">
                <div class="align-items-baseline border-bottom-sm d-flex header-sm justify-content-between ">
                    <h3>Cruise</h3>
                    <p class="m-0">See More</p>
                </div>
                <div class="body-sm body-card ">
                    <div class="align-items-center body-head d-flex border-card">
                        <figure class="pe-3 m-0"><img src="images/png/card/card-Image-sm.png" alt="" class="rounded pb-2"></figure>
                        <div class="">
                            <h6 class="m-0 p-0">News </h6>
                            <h3 class="m-0">Come Set Sail the Virgin Way</h4>
                            <h5 class="m-0">Ashlynn Septimus</h5>

                        </div>
                    </div>
                    <h4 class="border-card m-0 paddding-h4">Eye on Europe: What You Should Know for Summer 2022</h4>
                    <h4 class="border-card m-0 paddding-h4">Norwegian Cruise Line Holdings Drops Testing Requirement From Safety Protocols</h4>
                    <div class="border-card d-flex "><h4 class="m-0 paddding-h4">TravelPulse Podcast: How the Travel Industry Continues to Innovate and Adjust</h4>
                       <img src="images/png/card/card-image-1.png" alt="" class="w-h-img">
                         </div>
                </div>
            </div>
        </div>
    </div>
</section>