.banner-artical-3{
    background-image: url(../images/png/card/banner-a.png);
    padding-top: 133px;
    background-repeat: no-repeat;
    background-size: cover;
h1{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 60px;
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
padding-bottom: 147px;
margin: 0;
}
p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #FCFCFD;
margin: 0;
padding: 20px;
}
}
@media (max-width: 929px){
    .banner-artical-sm-5{
        background-image: url(../images/png/card/Rectangle2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height:250px;
       
    }
    .banner-artical-sm-6{
       padding: 24px;
       .play-a{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
    text-decoration: none;
    padding-right: 8px;
       }
        h3{
            font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #0267B7;
        }
        h1{
            font-family: 'Roboto Slab';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* or 122% */

letter-spacing: -0.02em;

/* Base/Black */

color: #000000;
        }
        p{
            font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

display: flex;
align-items: center;
text-align: right;

/* Base/Black */

color: #000000;
        }
    }

}