<section class="card-feature-video">
  <div class="container">
    <div class="row d-lg-flex d-none">
      <div class="col-md-4 ">
        <div class="subscribe-1">
          <img src="images/png/card/animated-plane-sm.png" alt="" class="">
          <h2>The world is huge. Don’t miss any of it.</h2>
          <p>Subscribe to our newsletter.</p>
          <a href="" class="btn btn-card-video btn-sub">
            Subscribe
          </a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="about">
          <h2>Agent Specialization: Kyoto</h2>
          <img src="images/png/card/feature-card.png" alt="" class="rounded-circle">
          <h3>Firstname Lastname</h3>
          <p>Has specialized in western travelers in Kyoto and the surroundings areas for 10 years</p>
          <a href="" class="btn btn-card-video btn-about">About Me</a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="free-sub">
          <img src="images/png/card/feature-card-1.png" alt="">
          <h2>Helping leisure selling travel agents successfully manage their at-home business</h2>
          <a href="" class="btn btn-card-video btn-free">Subscribe for Free</a>
        </div>
      </div>
    </div>
    <div class="row d-lg-none d-block">
      <div class="col-12">
        <div id="carouselExampleIndicators-4" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators-4" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators-4" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators-4" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="col-12 ">
                <div class="subscribe-1 h-100">
                  <img src="images/svg/icons/AnimatedPlaneSm.svg" alt="">
                  <h2 class="m-0 p-0 text-center">The world is huge. Don’t miss any of it.</h2>
                  <p>Subscribe to our newsletter.</p>
                  <a href="" class="btn btn-card-video btn-sub">
                    Subscribe
                  </a>
                </div>


              </div>
            </div>
            <div class="carousel-item ">
              <div class="col-12 ">
                <div class="about h-100">
                  <h2>Agent Specialization: Kyoto</h2>
                  <img src="./images/png/card/feature-card.png" alt="">
                  <h3>Firstname Lastname</h3>
                  <p>Has specialized in western travelers in Kyoto and the surroundings areas for 10 years</p>
                  <a href="" class="btn btn-card-video btn-about">About Me</a>
                </div>


              </div>
            </div>
            <div class="carousel-item">
              <div class="col-12">
                <div class="free-sub h-100">
                  <img src="images/png/card/feature-card-1.png" alt="">
                  <h2 class="p-0">Helping leisure selling travel agents successfully manage their at-home business</h2>
                  <a href="" class="btn btn-card-video btn-free">Subscribe for Free</a>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="ab-card d-block d-lg-none m-0 my-12 col-md-6">
  <p class="p-0 pt-1 pb-2">advertisement</p>
  <img src="images/png/card/card-ad-sm.png" alt="" class="img-fluid">
</div>
