.card-feature-video{
    position: relative;
    top: -50px;
    padding-top: 70px;
    margin-bottom: 250px;
    height: 241px;
    background: #0f0e0e;

    .subscribe-1{
        
        display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px 0px;
gap: 16px;
background: linear-gradient(180deg, #D3ECFF 0%, #B9E0FF 96.88%);
border-radius: 8px;
img{
    padding-top: 32px;
}
h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #000000;
padding: 0px 68.5px;
margin: 0;
}
p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #434F5A;
margin: 0;

}
.btn-sub{
    background: #217BC0;
border: 1px solid #217BC0;
color: #FFFFFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
margin-bottom: 42px;
&:hover{
    background: #124b76;

}
}
    }
    .about{
        display: flex;
flex-direction: column;
align-items: center;
padding: 24px;
gap: 16px;
background-image: url(../images/png/card/bg-video-card.png);
border-radius: 8px;
background-repeat: no-repeat;
background-size: cover;
h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
padding-bottom: 6px;
margin: 0;
}
h3{
    margin: 0;
    font-family: 'Roboto Serif';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
padding: 0px 8px;
}
p{
margin: 0;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
padding-bottom: 16px;

}
.btn-about{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #82045F;
background: #FFFFFF;
border: 1px solid #82045F;
margin-bottom: 18px;
padding: 8px 33px;
border-radius: 22px;
&:hover{
    color: #4f474d;
    
}
}
    }
    .free-sub{
        display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
gap: 24px;
background-image: url(../images/png/card/CardPromo.png);
background-repeat: no-repeat;
background-size: cover!important;
border-radius: 8px;
h2{
    font-family: 'Roboto Serif';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
padding: 0px 32px;
    text-align: center;
color: #000000;
margin: 0;
}
.btn-free{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
background: #000000;
border: 1px solid #000000;
margin-bottom: 20px;
&:hover{
    color: #464242;
    background: #f9f8f9;
    
}
}

    }
    .btn-card-video{
padding: 8px 14px;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 18px;

    }
}
@media (max-width: 930px){
.card-feature-video{
    position: relative;
    top: 0px!important;
    padding-top: 0px;
    margin-bottom: 0px;
    height:100%!important;
    background:white!important;
    padding: 32px!important;
}
.subscribe-1{
    margin-bottom: 12px;
gap: 0px;
h2{    padding: 0px 45.5px;}
}
.about{
    gap: 0px;
    margin-bottom: 12px;
}
.free-sub{
    gap: 0px;
    margin-bottom: 12px;
    h2{
        padding: 2px 0px;
    }
}

}