<nav class='styleguide-nav'>
  <button
    class='btn-styleguide-menu btn btn--brand-1 btn--xs'
    id='js-btn-styleguide-menu'
  >MENU</button>
  <ul class='styleguide-sidebar link-list' id='js-styleguide-sidebar'>
    <li><a href='#styleguide-section-guidelines'>Guidelines</a></li>
    <li><a href='#styleguide-section-colors'>Colors</a></li>
    <li><a href='#styleguide-section-typography'>Typography</a></li>
    <li><a href='#page-header'>Page Header</a></li>
    <li><a href='#page-footer'>Page Footer</a></li>
    <!-- <li><a href="#styleguide-section-buttons">Buttons</a></li>
              <li><a href="#styleguide-section-spacing">Spacing</a></li>
              <li><a href="#styleguide-section-alignment">Alignment</a></li>
              <li><a href="#styleguide-section-media">Media Queries</a></li>
              <li><a href="#styleguide-section-grid">Grid</a></li>
              <li><a href="#styleguide-section-accessibility">Accessibility</a></li>
              <li><a href="#styleguide-section-images">Images</a></li>
              <li><a href="#styleguide-section-logo">Logo</a></li>
              <li><a href="#styleguide-section-icons">Icons</a></li>
              <li><a href="#styleguide-section-forms">Forms</a></li>
              <li><a href="#styleguide-section-content-blocks">Content Blocks</a></li>
              <li><a href="#styleguide-section-progress-bars">Progress Bars</a></li>
              <li><a href="#styleguide-section-avatars">Avatars</a></li>
              <li><a href="#styleguide-section-banners">Banners</a></li>
              <li><a href="#styleguide-section-lists">Lists: Styled</a></li>
              <li><a href="#styleguide-section-cards">Cards</a></li>
              <li><a href="#styleguide-section-loading">Loading</a></li>
              <li><a href="#styleguide-section-tabs">Tabs <span class="styleguide-link-label">JS</span></a></li> -->
    <li><a href='#styleguide-section-sliders'>Sliders &amp; Carousels
        <span class='styleguide-link-label'>JS</span></a></li>
  </ul>
</nav>
<!-- /.styleguide-nav -->