<section class="feature-video pb-0 position-relative">
    <div class="d-lg-block d-none" style="position: absolute;top: 0;width: 100%;height: 890px;z-index: -1;">
    <video src="images/png/card/video.mp4"  autoplay muted loop>
 </video>
 </div>
   <div class="d-lg-none d-block" style="position: absolute;top: 0;width: 100%;height: 1000px;z-index: -1;left:0;">
    <video src="images/png/card/video.mp4"  autoplay muted loop>
 </video>
 </div>
    <h1>FEATURED VIDEO</h1>
    <a href="" class="btn btn-sm-see-more d-flex d-lg-none text-card--icon">See All Video</a>
    <div class="container">
        <div class="row py-99 d-lg-flex d-none">
            <div class="col-md-4">
                <img class="img-fluid" src="images/png/card/frame-2x.png" alt="">
                <p>CATEGORY</p>
                <h3>Card title Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h3>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="images/png/card/frame-1-2x.png" alt="">
                <p>CATEGORY</p>
                <h3>Card title Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h3>
            </div>
            <div class="col-md-4">
                 <img class="img-fluid" src="images/png/card/frame-3-2x.png" alt="">
                <p>CATEGORY</p>
                <h3>Card title Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h3>
            </div>
        </div>
        <div class="row d-lg-none d-block">
            <div class="col-12">
                <div id="carouselExampleIndicators-3" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators opacity-0">
    <button type="button" data-bs-target="#carouselExampleIndicators-3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators-3" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators-3" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="col-12">
                 <img class="img-fluid" src="images/png/card/frame-2x.png" alt="">
                <p>CATEGORY</p>
                <h3>Card title Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h3>
                   
                
            </div>
    </div>
    <div class="carousel-item ">
    <div class="col-12">
                <img class="img-fluid" src="images/png/card/frame-2x.png" alt="">
                <p>CATEGORY</p>
                <h3>Card title Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h3>
                   
                
            </div>
    </div>
    <div class="carousel-item">
    <div class="col-12 card-review">
                <img class="img-fluid" src="images/png/card/frame-2x.png" alt="">
                <p>CATEGORY</p>
                <h3>Card title Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h3>
                   
                
            </div>
    </div>
  </div>
</div>
            </div>
        </div>
        <p class="see-more d-lg-block d-none">See More</p>
    </div>
</section>