.related-destinations {

  text-align: center;
  margin-top: -1.75rem;
  margin-bottom: -3.125rem;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    margin-bottom: 0
  }
    
  .heading-4 {
    display: inline-block;
    width: auto;
    padding-top: 6px;
    margin-bottom: 2.125rem;
    border-top: 5px solid #333;
  }
  
}

.top-destinations {
  margin: 3rem 0;

  .heading-3 {
    margin-bottom: 1.75rem;
  }
}