.card-search{
    padding: 32px 0px;
li{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
color: #000000;
}
h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #000000;
margin: 0;
padding-top: 24px;
padding-bottom: 8px;
}
h3{
    font-family: 'Roboto Serif';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin: 0;
padding-bottom: 32px;
color: #000000;
}
.btn-share {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #434F5A;
    padding: 8px 14px;
    background: #FFFFFF;
    border: 1px solid #F2F4F7;
    box-shadow: 0px 1px 3px rgb(16 24 40 / 10%), 0px 1px 2px rgb(16 24 40 / 6%);
    border-radius: 8px;
}
}