<section class="card-search">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="images/png/card/search.png" alt="" class="img-fluid pb-2">
            </div>
            <div class="col-7">
                <ul class="list-unstyled m-0">
                    <li class="d-inline-block">NEWS</li>
                      <li class="d-inline-block ps-3">CRUISE</li>
                        <li class="d-inline-block ps-3">JUL 4, 2022</li>
                </ul>
                <h1>Photo Tour: Disney Cruise Line's Newest Cruise Ship, Disney Wish</h1>
                <h3>A first-hand look at the magic offerings onboard this brand new cruise ship.</h3>
            </div>
            <div class="col-2">
                <div class="d-flex justify-content-end">
                <a href="" class="btn btn-share">
                    <img src="images/svg/icons/share.svg" alt="Image Alt Tag Goes here"> Share
                </a>
                   </div>
            </div>
        </div>
    </div>
</section>