<section class="related-card-articale">
    <div class="container">
          <h2 class="p-0">Related Offers</h2>
        <div class="row border-top-r">
            <div class="border-top col-12 ps-0 py-3">
                <p>American Airlines Regional Carrier Offering Pilots Triple Pay</p>
                <div class="align-items-center d-flex">
                    <img src="./images/png/card/related-card.png" alt="" class="img-fluid h-w">
                    <Div class="ps-3">
                        <h3 class="pt-0">Updated Vaccine and Testing Requirements for All Major Cruise Lines</h3>
                    </Div>
                </div>
            </div>
            <div class="border-top col-12 ps-0 py-3">
                <div class="align-items-center d-flex">
                    <img src="./images/png/card/related-card.png" alt="" class="img-fluid h-w">
                    <Div class="ps-3">
                        <h3 class="pt-0">Updated Vaccine and Testing Requirements for All Major Cruise Lines</h3>
                    </Div>
                </div>
            </div>
            <div class="border-top col-12 ps-0 py-3">
                <div class="align-items-center d-flex">
                    <img src="./images/png/card/related-card.png" alt="" class="img-fluid h-w">
                    <Div class="ps-3">
                        <h3 class="pt-0">Updated Vaccine and Testing Requirements for All Major Cruise Lines</h3>
                    </Div>
                </div>
            </div>
            <div class="border-top col-12 ps-0 py-3">
                <div class="align-items-center d-flex">
                    <img src="./images/png/card/related-card.png" alt="" class="img-fluid h-w">
                    <Div class="ps-3">
                        <h3 class="pt-0">Updated Vaccine and Testing Requirements for All Major Cruise Lines</h3>
                    </Div>
                </div>
            </div>
        </div>
    </div>
</section>