<div class="container">
  <div class="row d-lg-flex d-none">
    <div class="col-9">
      <h1>Discover:<span class="border-bottom-b">Trending Stories</span></h1>
    </div>
  </div>
  <div class="row d-lg-none d-block">
    <div class="col-12">
      <h1>Discover:
        <span class="border-bottom-b">Trending Stories</span>
      </h1>
    </div>
  </div>
</div>


<section id="expanded-carousel">
  <div class="carousel-body">
    <div class="carousel-img">
      <div class="layer" data-id="img-1" data-content="content-1" style="display: none;"></div>

      <img class="active img" src="/images/png/carousel/frame-1-2x.png" alt="frame 1" />
    </div>
    <div class="carousel-img">
      <div class="layer" data-id="img-2" data-content="content-2"></div>
      <img class="not-active img" src="/images/png/carousel/frame-3-2x.png" alt="frame 1" />
    </div>
    <div class="carousel-img">
      <div class="layer" data-id="img-3" data-content="content-3"></div>
      <img class="not-active img" src="/images/png/carousel/frame-4-2x.png" alt="frame 1" />
    </div>
    <div class="carousel-img">
      <div class="layer" data-id="img-4" data-content="content-4"></div>

      <img class="not-active img" src="/images/png/carousel/frame-2-2x.png" alt="frame 1" />
    </div>
  </div>
  <div class="carousel-content">
    <div id="img-1">
      Image one content
      <p>more content</p>
    </div>
    <div id="img-2" style="display: none;">
      Image two content
      <p>more content</p>
    </div>
    <div id="img-3" style="display: none;">
      Image three content
      <p>more content</p>
    </div>
    <div id="img-4" style="display: none;">
      Image four content
      <p>more content</p>
    </div>
  </div>
  <div class="bottom-content">
    <p id="content-1">
      image content 1
    </p>
    <p id="content-2" style="display: none;">
      image content 2
    </p>
    <p id="content-3" style="display: none;">
      image content 3
    </p>
    <p id="content-4" style="display: none;">
      image content 4
    </p>
  </div>
</section>