<section class="read-news">
  <div class="container">
    <div class="align-items-center justify-content-between row d-lg-flex d-none">
      <div class="col-12">
        <h1>Discover:<span class="border-bottom-b">Trending Stories</span></h1>
      </div>
    </div>
    <div class="row d-lg-none d-block">
      <div class="col-12">
        <h1>Read:<span class="border-bottom-b">Trending Stories</span></h1>
      </div>
    </div>
  </div>
</section>

<section id="expanded-carousel">
  <div class="carousel-body">
    <div class="carousel-img active">
      <div class="layer" data-id="img-1" data-content="content-1" style="display: none;"></div>

      <img class="img" src="/images/png/carousel/frame-1-2x.png" alt="frame 1" />
      <div id="img-1" class="img-content">
        <h3 class="pb-2 m-0">HOTELS & RESORTS</h3>
        <h2>Explore New Features at the Reimagined Sandals Royal Bahamian</h2>
      </div>
    </div>
    <div class="carousel-img not-active">
      <div class="layer" data-id="img-2" data-content="content-2"></div>
      <img class="img" src="/images/png/carousel/frame-3-2x.png" alt="frame 1" />
      <div id="img-2" class="img-content" style="display: none;">
        <h3 class="pb-2 m-0">DESTINATIONS & TOURISM</h3>
        <h2>Visit the iconic mid-century ocean front properties of New England</h2>
      </div>
    </div>
    <div class="carousel-img not-active">
      <div class="layer" data-id="img-3" data-content="content-3"></div>
      <img class="img" src="/images/png/carousel/frame-4-2x.png" alt="frame 1" />
      <div id="img-3" class="img-content" style="display: none;">
        <h3 class="pb-2 m-0">DESTINATIONS & TOURISM</h3>
        <h2>The Most Exclusive Travel Experiences in Paris</h2>
      </div>
    </div>
    <div class="carousel-img not-active">
      <div class="layer" data-id="img-4" data-content="content-4"></div>

      <img class="img" src="/images/png/carousel/frame-2-2x.png" alt="frame 1" />
      <div id="img-4" class="img-content" style="display: none;">
        <h3 class="pb-2 m-0">DESTINATIONS & TOURISM</h3>
        <h2>See Hong Kong at its best from the water with traditional cruises.</h2>
      </div>
    </div>
  </div>
  <div class="container lg-img-content position-relative">
    <div class="row">
      <div class="col-lg-12">
        <div id="img-content">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container bottom-content">
  <div class="row">
    <div class="col-lg-12">

      <p id="content-1">
        The time has finally come to travel again, and the leaders in love and romance at Sandals Resorts are
        welcoming
        couples who are inspired to rediscover the vibrant tropical paradise that is Nassau, Bahamas.
      </p>
      <p id="content-2" style="display: none;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
      <p id="content-3" style="display: none;">
        Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <p id="content-4" style="display: none;">
        Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>

    </div>
  </div>
</section>