<section id='page-footer' class='styleguide-section'>
  <h2>Page Footer</h2>
  
  <div class='styleguide-section-block'>
    <div class='styleguide-section-files'>Reference files: _footer.scss,
      footer.hbs</div>

    <div class='styleguide-demo-block'>
      <div class='styleguide-demo-each styleguide-demo-each--page-footer'>
      
        {{>footer}}

      </div>
      <!-- /.styleguide-demo-each -->
      <button
        class='btn-styleguide-code js-btn-styleguide-code btn btn--brand-1 btn--sm'
      >Code</button>
    </div>
    <!-- /.styleguide-demo-block -->

  </div>
  <!-- /.styleguide-section-block -->
</section>