<section class="aadd-1 d-lg-block d-none pb-0">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-md-12 aadd-2">
        <p>advertisement</p>
        <img src="./images/png/card/add.png" alt="Image Alt Tag Goes here"' class="img-fluid">
      </div>
    </div>
  </div>
</section>
