<section class="ad-1 d-lg-block d-none pb-0">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-md-12 ad-2">
        <p>advertisement</p>
        <img src="images/png/card/add.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
