<section class="banner-artical-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>CAPTION: Vancouver Cityscape at sunset (Photo via jamesvancouver / iStock / Getty Images Plus)</p>
            </div>
        </div>
    </div>
</section>