.footer{
 padding-top:212px;
 padding-bottom: 107px;
 a{
  text-decoration: none;
  color: white;
  &:hover{
    color: #FFFFFF!important;
  }
 }
 li{
  a{
    &:hover{
      color: #B2BBC4!important;
    }
  }
 }
}
li
{
  cursor: pointer!important;
}
a{
  cursor: pointer!important;
}
img{
  cursor: pointer!important;
}
 .accordion {
  --bs-accordion-color:white!important;
  --bs-accordion-bg:transparent!important;}
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
button:focus:not(:focus-visible) {
    outline: 0;
}
.accordion-button:focus {
    z-index: 3;
     border-color: transparent!important ; 
    outline: 0;
    box-shadow: none!important;
}

  
.accordion-button:not(.collapsed)::after {
  background-image:url(../images/svg/icons/chevron-down.svg)!important;
}

 .accordion-button{
  padding-left: 0px!important;
  padding-top: 24px!important;
  padding-bottom: 26.95px!important;
  
 }
 .accordion-button:after{
  background-image:url(../images/svg/icons/chevron-down.svg)!important;
}


  .accordion-button:not(.collapsed){
    background-color:transparent!important;
    box-shadow: none!important;
  }

.accordion-body{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
padding-top: 0px;
padding-left: 7px;
padding-bottom: 48px;
}
 .follow{
  font-family: 'Inter';
font-style: normal;
font-weight:$font-weight-medium;
font-size: $text-font-size-sm;
line-height: $text-line-height-xs;
 }

 .term-privacy{
  a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
  }
 }
 p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;

 }
 @media (max-width: 930px){
  .footer{
    padding-top: 64px;
    padding-bottom: 107px;
   }
 }
 @media (max-width: 575px){
  .footer{
    padding-top: 48px;
    padding-bottom: 87px;
    padding-left: 32px;
    padding-right: 32px;
   }
   .accordion-body{
    line-height: 20px;
   }
   p{
    padding-top: 24px;
   }
   .pt-c-8{
    padding-top: 8px;;
   }
 }