<!-- Footer -->
<footer class="footer">
  <div class="container">

    <div class="footer-copyright">Copyright © 2022 Northstar Travel Media, LLC. All Rights Reserved. 100 Lighting Way Secaucus, NJ 07094-3626 USA | Telephone: (201) 902-2000</div>

  </div>
</footer>

