<!-- Footer -->
<footer class='footer news-gradient-bg'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-md-6'>
        <div class='accordion' id='accordionExample'>
          <div class='accordion-item border-0'>
            <h2 class='accordion-header border-top' id='headingOne'>
              <button
                class='accordion-button'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#collapseOne'
                aria-expanded='true'
                aria-controls='collapseOne'
              >
                <div>
                  <svg
                    width='146'
                    height='38'
                    viewBox='0 0 146 38'
                    fill='none'
                    xmlns='http://www.w3.org/2000/svg'
                  >
                    <path
                      d='M7.99366 34.812V21.23H3.10547V19.7053H14.7549V21.23H9.8667V34.812H7.99366Z'
                      fill='white'
                    ></path>
                    <path
                      d='M17.0462 34.812V19.7053H23.5105C25.0942 19.7053 26.2439 20.1275 26.9597 20.972C27.6906 21.8165 28.0561 22.9581 28.0561 24.3968C28.0561 25.5071 27.7896 26.4298 27.2566 27.1648C26.7388 27.8998 25.9622 28.3924 24.9267 28.6426C25.2313 28.8303 25.4597 29.0492 25.612 29.2995C25.7795 29.534 25.947 29.8546 26.1145 30.2612L28.0332 34.812H26.1145L24.2415 30.4254C24.0435 29.9563 23.7998 29.62 23.5105 29.4167C23.2364 29.2134 22.7415 29.1118 22.0258 29.1118H18.9193V34.812H17.0462ZM18.9193 27.6105H22.9851C23.975 27.6105 24.7516 27.3603 25.315 26.8599C25.8937 26.3438 26.183 25.5228 26.183 24.3968C26.183 22.2856 25.2008 21.23 23.2364 21.23H18.9193V27.6105Z'
                      fill='white'
                    ></path>
                    <path
                      d='M30.3303 34.812L35.9266 19.7053H38.1194L43.6928 34.812H41.7741L40.2209 30.66H33.8251L32.2718 34.812H30.3303ZM34.1449 29.1353H39.8782L37.0001 21.3708L34.1449 29.1353Z'
                      fill='white'
                    ></path>
                    <path
                      d='M57.2246 34.812V19.7053H67.1609V21.23H59.0977V26.508H66.3386V28.0093H59.0977V33.3107H67.1609V34.812H57.2246Z'
                      fill='white'
                    ></path>
                    <path
                      d='M69.8948 34.812V19.7053H71.7678V33.3107H79.6026V34.812H69.8948Z'
                      fill='white'
                    ></path>
                    <path
                      d='M81.5988 34.812V19.7053H88.4971C89.6544 19.7053 90.5986 19.932 91.3295 20.3856C92.0757 20.8391 92.6315 21.4568 92.997 22.2387C93.3624 23.0206 93.5452 23.912 93.5452 24.9129C93.5452 25.9294 93.332 26.8286 92.9056 27.6105C92.4945 28.3924 91.9006 29.0023 91.1239 29.4402C90.3625 29.8624 89.4565 30.0736 88.4057 30.0736H84.6825V34.812H81.5988ZM84.6825 27.5636H87.7662C88.6494 27.5636 89.3118 27.329 89.7534 26.8599C90.2102 26.3751 90.4387 25.7261 90.4387 24.9129C90.4387 24.0371 90.2255 23.3725 89.7991 22.919C89.3727 22.4498 88.7331 22.2152 87.8804 22.2152H84.6825V27.5636Z'
                      fill='white'
                    ></path>
                    <path
                      d='M101.715 35.0466C99.6894 35.0466 98.0829 34.5462 96.8951 33.5453C95.7225 32.5288 95.1363 31.0588 95.1363 29.1353V19.7053H98.2199V28.9007C98.2199 30.0579 98.5245 30.9259 99.1336 31.5045C99.7427 32.0675 100.603 32.349 101.715 32.349C102.826 32.349 103.679 32.0675 104.273 31.5045C104.882 30.9259 105.187 30.0579 105.187 28.9007V19.7053H108.27V29.1353C108.27 31.0588 107.684 32.5288 106.512 33.5453C105.339 34.5462 103.74 35.0466 101.715 35.0466Z'
                      fill='white'
                    ></path>
                    <path
                      d='M110.754 34.812V19.7053H113.837V32.3724H121.078V34.812H110.754Z'
                      fill='white'
                    ></path>
                    <path
                      d='M127.345 35.0466C126.401 35.0466 125.518 34.9762 124.696 34.8355C123.889 34.6947 123.188 34.4914 122.594 34.2256V31.4341C123.264 31.7156 123.988 31.9424 124.764 32.1144C125.541 32.2864 126.302 32.3724 127.048 32.3724C128.114 32.3724 128.899 32.2708 129.401 32.0675C129.904 31.8642 130.155 31.4028 130.155 30.6835C130.155 30.2299 130.048 29.8703 129.835 29.6044C129.622 29.3386 129.249 29.104 128.716 28.9007C128.198 28.6817 127.459 28.4393 126.5 28.1735C124.962 27.7356 123.881 27.1883 123.257 26.5315C122.632 25.8746 122.32 24.9676 122.32 23.8104C122.32 22.4185 122.815 21.3473 123.805 20.5967C124.795 19.846 126.234 19.4707 128.122 19.4707C129.005 19.4707 129.827 19.5333 130.589 19.6584C131.35 19.7835 131.967 19.932 132.439 20.1041V22.8955C131.19 22.4107 129.888 22.1683 128.533 22.1683C127.574 22.1683 126.82 22.2778 126.272 22.4967C125.723 22.7 125.449 23.1379 125.449 23.8104C125.449 24.2013 125.548 24.5141 125.746 24.7487C125.944 24.9833 126.279 25.1944 126.751 25.382C127.239 25.5697 127.916 25.7808 128.784 26.0154C129.987 26.3438 130.916 26.7348 131.571 27.1883C132.226 27.6418 132.675 28.1579 132.919 28.7365C133.178 29.3151 133.307 29.9641 133.307 30.6835C133.307 31.9971 132.82 33.0527 131.845 33.8502C130.871 34.6478 129.371 35.0466 127.345 35.0466Z'
                      fill='white'
                    ></path>
                    <path
                      d='M135.447 34.812V19.7053H146V22.1683H138.531V26.0388H145.155V28.4784H138.531V32.3724H146V34.812H135.447Z'
                      fill='white'
                    ></path>
                    <path
                      d='M20.4886 13.7596L0 15.0699L21.9405 16.0527L24.0378 12.9406L30.1682 23.0958L38.0732 7.53546L48.3982 38.001L58.0778 9.82856L60.9817 16.0527L81.6316 15.0699L62.595 13.7596L58.0778 3.27684L48.3982 28.9924L38.0732 0.000976562L29.6842 18.6734L24.0378 7.53546L20.4886 13.7596Z'
                      fill='white'
                    ></path>
                  </svg>
                </div>
              </button>
            </h2>
            <div
              id='collapseOne'
              class='accordion-collapse collapse show'
              aria-labelledby='headingOne'
              data-bs-parent='#accordionExample'
            >
              <div class='accordion-body'>
                <div class='d-md-none d-flex justify-content-between'>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>News</li>
                    <li class='pb-4 text-white'>Offers</li>
                    <li class='pb-4 text-white'>Opinions</li>
                    <li class='pb-4 text-white'>Trending</li>
                    <li class='pb-4 text-white'>Destinations</li>
                  </ul>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>Agent@Home</li>
                    <li class='pb-4 text-white'>Video</li>
                    <li class='pb-4 text-white'>Blogs</li>
                    <li class='pb-4 text-white'>Suppliers</li>
                  </ul>
                </div>
                <div class='d-md-flex d-none justify-content-between'>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>News</li>
                    <li class='pb-4 text-white'>Video</li>
                    <li class='pb-4 text-white'>Trending</li>
                  </ul>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>Agent@Home</li>
                    <li class='pb-4 text-white'>Opinions</li>
                    <li class='pb-4 text-white'>Suppliers</li>
                  </ul>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>Offers</li>
                    <li class='pb-4 text-white'>Blogs</li>
                    <li class='pb-4 text-white'>Destinations</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class='accordion-item border-0'>
            <h2 class='accordion-header border-top' id='headingTwo '>
              <button
                class='accordion-button collapsed'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#collapseTwo'
                aria-expanded='false'
                aria-controls='collapseTwo'
              >
                <img
                  class='img-fluid'
                  width='165px'
                  src='images/png/footer/logo-1-2x.png'
                  alt=''
                />
              </button>
            </h2>
            <div
              id='collapseTwo'
              class='accordion-collapse collapse'
              aria-labelledby='headingTwo'
              data-bs-parent='#accordionExample'
            >
              <div class='accordion-body'>
                <div class='d-md-none d-flex justify-content-between'>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>TravelPulse</li>
                    <li class='pb-4 text-white'>TravelPulse Quebec</li>
                    <li class='pb-4 text-white'>Travel Weekly Asia</li>
                    <li class='pb-4 text-white'> TravelAge West</li>
                    <li class='pb-4 text-white'>Travel Technology</li>
                    <li class='pb-4 text-white'>Hotel Investment</li>
                    <li class='pb-4 text-white'>Agent Studio</li>
                    <li class='pb-4 text-white'>Digital Events Seminars</li>

                  </ul>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>TravelPulse Canada</li>
                    <li class='pb-4 text-white'>Travel Weekly</li>
                    <li class='pb-4 text-white'>Travel Weekly China</li>
                    <li class='pb-4 text-white'> Meetings & Incentives</li>
                    <li class='pb-4 text-white'>Corporate Travel</li>
                    <li class='pb-4 text-white'>Data Products</li>
                    <li class='pb-4 text-white'>Travel Agent Academy</li>
                    <li class='pb-4 text-white'>TravAllianceMedia</li>

                  </ul>
                </div>
                <div class='d-md-flex d-none justify-content-between'>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>TravelPulse</li>
                    <li class='pb-4 text-white'>Travel Weekly</li>
                    <li class='pb-4 text-white'>TravelAge West</li>
                    <li class='pb-4 text-white'> Corporate Travel</li>
                    <li class='pb-4 text-white'>Agent Studio</li>
                    <li class='pb-4 text-white'>TravAllianceMedia</li>

                  </ul>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>TravelPulse Quebec</li>
                    <li class='pb-4 text-white'>Travel Weekly China</li>
                    <li class='pb-4 text-white'>Travel Technology</li>
                    <li class='pb-4 text-white'>Data Products</li>
                    <li class='pb-4 text-white'>Digital Events & Seminars</li>
                  </ul>
                  <ul class='list-unstyled'>
                    <li class='pb-4 text-white'>Offers</li>
                    <li class='pb-4 text-white'>Blogs</li>
                    <li class='pb-4 text-white'>Destinations</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='footer-icon text-center py-10'>
          <ul class='list-unstyled mb-0'>
            <li class='d-inline-block'><a href='' class='follow'>Follow Us</a></li>
            <li class='d-inline-block ps-4'><svg
                width='25'
                height='24'
                viewBox='0 0 25 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <g clip-path='url(#clip0_9346_243712)'>
                  <path
                    d='M24.5 12.001C24.5 5.37356 19.1274 0.000976562 12.5 0.000976562C5.87258 0.000976562 0.5 5.37356 0.5 12.001C0.5 17.9904 4.8882 22.955 10.625 23.8552V15.4697H7.57812V12.001H10.625V9.35723C10.625 6.34973 12.4166 4.68848 15.1576 4.68848C16.4701 4.68848 17.8438 4.92285 17.8438 4.92285V7.87598H16.3306C14.84 7.87598 14.375 8.80105 14.375 9.75098V12.001H17.7031L17.1711 15.4697H14.375V23.8552C20.1118 22.955 24.5 17.9904 24.5 12.001Z'
                    fill='white'
                  ></path>
                </g>
                <defs>
                  <clipPath id='clip0_9346_243712'>
                    <rect
                      width='24'
                      height='24'
                      fill='white'
                      transform='translate(0.5 0.000976562)'
                    ></rect>
                  </clipPath>
                </defs>
              </svg>
            </li>
            <li class='d-inline-block ps-4'><svg
                width='25'
                height='24'
                viewBox='0 0 25 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <g clip-path='url(#clip0_9346_243714)'>
                  <path
                    d='M8.05016 21.7512C17.1045 21.7512 22.0583 14.2479 22.0583 7.74308C22.0583 7.53214 22.0536 7.31652 22.0442 7.10558C23.0079 6.40868 23.8395 5.54548 24.5 4.55652C23.6025 4.95582 22.6496 5.2166 21.6739 5.32996C22.7013 4.71413 23.4705 3.74669 23.8391 2.60699C22.8726 3.17978 21.8156 3.58383 20.7134 3.80183C19.9708 3.01278 18.989 2.49034 17.9197 2.31527C16.8504 2.14021 15.7532 2.32227 14.7977 2.83332C13.8423 3.34436 13.0818 4.15593 12.6338 5.14253C12.1859 6.12914 12.0754 7.23584 12.3195 8.29152C10.3625 8.19331 8.44794 7.68493 6.69998 6.79932C4.95203 5.91371 3.40969 4.67066 2.17297 3.15074C1.5444 4.23446 1.35206 5.51687 1.63503 6.73731C1.918 7.95776 2.65506 9.02467 3.69641 9.72121C2.91463 9.69639 2.14998 9.4859 1.46563 9.10714V9.16808C1.46492 10.3054 1.8581 11.4078 2.57831 12.288C3.29852 13.1682 4.30132 13.7718 5.41625 13.9962C4.69206 14.1943 3.93198 14.2232 3.19484 14.0806C3.50945 15.0587 4.12157 15.9141 4.94577 16.5276C5.76997 17.141 6.76512 17.4818 7.79234 17.5025C6.04842 18.8723 3.89417 19.6153 1.67656 19.6118C1.28329 19.6112 0.890399 19.5871 0.5 19.5396C2.75286 20.985 5.37353 21.7526 8.05016 21.7512Z'
                    fill='white'
                  ></path>
                </g>
                <defs>
                  <clipPath id='clip0_9346_243714'>
                    <rect
                      width='24'
                      height='24'
                      fill='white'
                      transform='translate(0.5 0.000976562)'
                    ></rect>
                  </clipPath>
                </defs>
              </svg>
            </li>
            <li class='d-inline-block ps-4'><svg
                width='25'
                height='24'
                viewBox='0 0 25 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <g clip-path='url(#clip0_9346_243716)'>
                  <path
                    d='M22.7234 0.000976562H2.27187C1.29219 0.000976562 0.5 0.774414 0.5 1.73066V22.2666C0.5 23.2229 1.29219 24.001 2.27187 24.001H22.7234C23.7031 24.001 24.5 23.2229 24.5 22.2713V1.73066C24.5 0.774414 23.7031 0.000976562 22.7234 0.000976562ZM7.62031 20.4525H4.05781V8.99629H7.62031V20.4525ZM5.83906 7.43535C4.69531 7.43535 3.77188 6.51191 3.77188 5.37285C3.77188 4.23379 4.69531 3.31035 5.83906 3.31035C6.97813 3.31035 7.90156 4.23379 7.90156 5.37285C7.90156 6.50723 6.97813 7.43535 5.83906 7.43535ZM20.9516 20.4525H17.3937V14.8838C17.3937 13.5572 17.3703 11.8463 15.5422 11.8463C13.6906 11.8463 13.4094 13.2947 13.4094 14.79V20.4525H9.85625V8.99629H13.2687V10.5619H13.3156C13.7891 9.66191 14.9516 8.71035 16.6813 8.71035C20.2859 8.71035 20.9516 11.0822 20.9516 14.1666V20.4525Z'
                    fill='white'
                  ></path>
                </g>
                <defs>
                  <clipPath id='clip0_9346_243716'>
                    <rect
                      width='24'
                      height='24'
                      fill='white'
                      transform='translate(0.5 0.000976562)'
                    ></rect>
                  </clipPath>
                </defs>
              </svg>
            </li>
            <li class='d-inline-block ps-4'><svg
                width='25'
                height='24'
                viewBox='0 0 25 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
              >
                <g clip-path='url(#clip0_9346_243719)'>
                  <path
                    d='M24.2609 7.20078C24.2609 7.20078 24.0266 5.54609 23.3047 4.81953C22.3906 3.86328 21.3688 3.85859 20.9 3.80234C17.5438 3.55859 12.5047 3.55859 12.5047 3.55859H12.4953C12.4953 3.55859 7.45625 3.55859 4.1 3.80234C3.63125 3.85859 2.60938 3.86328 1.69531 4.81953C0.973438 5.54609 0.74375 7.20078 0.74375 7.20078C0.74375 7.20078 0.5 9.14609 0.5 11.0867V12.9055C0.5 14.8461 0.739062 16.7914 0.739062 16.7914C0.739062 16.7914 0.973437 18.4461 1.69062 19.1727C2.60469 20.1289 3.80469 20.0961 4.33906 20.1992C6.26094 20.382 12.5 20.4383 12.5 20.4383C12.5 20.4383 17.5438 20.4289 20.9 20.1898C21.3688 20.1336 22.3906 20.1289 23.3047 19.1727C24.0266 18.4461 24.2609 16.7914 24.2609 16.7914C24.2609 16.7914 24.5 14.8508 24.5 12.9055V11.0867C24.5 9.14609 24.2609 7.20078 24.2609 7.20078ZM10.0203 15.1133V8.36797L16.5031 11.7523L10.0203 15.1133Z'
                    fill='white'
                  ></path>
                </g>
                <defs>
                  <clipPath id='clip0_9346_243719'>
                    <rect
                      width='24'
                      height='24'
                      fill='white'
                      transform='translate(0.5 0.000976562)'
                    ></rect>
                  </clipPath>
                </defs>
              </svg>
            </li>
          </ul>
        </div>
        <div class='term-privacy text-center pb-2'>
          <ul class='list-unstyled mb-0'>
            <li class='d-inline-block'><a href=''>Terms of Use</a></li>
            <li class='d-inline-block ps-3'><a href=''>Privacy Policy</a></li>
            <li class='d-inline-block ps-3 pt-c-8'><a href=''>Copyright</a></li>
            <li class='d-inline-block ps-3 pt-c-8'><a href=''>Contact Us</a></li>
          </ul>
        </div>
        <p class='text-center'>Copyright © 2022 Northstar Travel Media, LLC. All
          Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>