<!-- Footer -->
<footer class="footer news-gradient-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="accordion" id="accordionFooter">
          <div class="accordion-item border-0">
            <div class="accordion-header border-top" id="accordionDrawerOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                  <svg width="146" height="38" viewBox="0 0 146 38" fill="none" xmlns="http://www.w3.org/2000/svg" > <path d="M7.99366 34.812V21.23H3.10547V19.7053H14.7549V21.23H9.8667V34.812H7.99366Z" fill="white" ></path> <path d="M17.0462 34.812V19.7053H23.5105C25.0942 19.7053 26.2439 20.1275 26.9597 20.972C27.6906 21.8165 28.0561 22.9581 28.0561 24.3968C28.0561 25.5071 27.7896 26.4298 27.2566 27.1648C26.7388 27.8998 25.9622 28.3924 24.9267 28.6426C25.2313 28.8303 25.4597 29.0492 25.612 29.2995C25.7795 29.534 25.947 29.8546 26.1145 30.2612L28.0332 34.812H26.1145L24.2415 30.4254C24.0435 29.9563 23.7998 29.62 23.5105 29.4167C23.2364 29.2134 22.7415 29.1118 22.0258 29.1118H18.9193V34.812H17.0462ZM18.9193 27.6105H22.9851C23.975 27.6105 24.7516 27.3603 25.315 26.8599C25.8937 26.3438 26.183 25.5228 26.183 24.3968C26.183 22.2856 25.2008 21.23 23.2364 21.23H18.9193V27.6105Z" fill="white" ></path> <path d="M30.3303 34.812L35.9266 19.7053H38.1194L43.6928 34.812H41.7741L40.2209 30.66H33.8251L32.2718 34.812H30.3303ZM34.1449 29.1353H39.8782L37.0001 21.3708L34.1449 29.1353Z" fill="white" ></path> <path d="M57.2246 34.812V19.7053H67.1609V21.23H59.0977V26.508H66.3386V28.0093H59.0977V33.3107H67.1609V34.812H57.2246Z" fill="white" ></path> <path d="M69.8948 34.812V19.7053H71.7678V33.3107H79.6026V34.812H69.8948Z" fill="white" ></path> <path d="M81.5988 34.812V19.7053H88.4971C89.6544 19.7053 90.5986 19.932 91.3295 20.3856C92.0757 20.8391 92.6315 21.4568 92.997 22.2387C93.3624 23.0206 93.5452 23.912 93.5452 24.9129C93.5452 25.9294 93.332 26.8286 92.9056 27.6105C92.4945 28.3924 91.9006 29.0023 91.1239 29.4402C90.3625 29.8624 89.4565 30.0736 88.4057 30.0736H84.6825V34.812H81.5988ZM84.6825 27.5636H87.7662C88.6494 27.5636 89.3118 27.329 89.7534 26.8599C90.2102 26.3751 90.4387 25.7261 90.4387 24.9129C90.4387 24.0371 90.2255 23.3725 89.7991 22.919C89.3727 22.4498 88.7331 22.2152 87.8804 22.2152H84.6825V27.5636Z" fill="white" ></path> <path d="M101.715 35.0466C99.6894 35.0466 98.0829 34.5462 96.8951 33.5453C95.7225 32.5288 95.1363 31.0588 95.1363 29.1353V19.7053H98.2199V28.9007C98.2199 30.0579 98.5245 30.9259 99.1336 31.5045C99.7427 32.0675 100.603 32.349 101.715 32.349C102.826 32.349 103.679 32.0675 104.273 31.5045C104.882 30.9259 105.187 30.0579 105.187 28.9007V19.7053H108.27V29.1353C108.27 31.0588 107.684 32.5288 106.512 33.5453C105.339 34.5462 103.74 35.0466 101.715 35.0466Z" fill="white" ></path> <path d="M110.754 34.812V19.7053H113.837V32.3724H121.078V34.812H110.754Z" fill="white" ></path> <path d="M127.345 35.0466C126.401 35.0466 125.518 34.9762 124.696 34.8355C123.889 34.6947 123.188 34.4914 122.594 34.2256V31.4341C123.264 31.7156 123.988 31.9424 124.764 32.1144C125.541 32.2864 126.302 32.3724 127.048 32.3724C128.114 32.3724 128.899 32.2708 129.401 32.0675C129.904 31.8642 130.155 31.4028 130.155 30.6835C130.155 30.2299 130.048 29.8703 129.835 29.6044C129.622 29.3386 129.249 29.104 128.716 28.9007C128.198 28.6817 127.459 28.4393 126.5 28.1735C124.962 27.7356 123.881 27.1883 123.257 26.5315C122.632 25.8746 122.32 24.9676 122.32 23.8104C122.32 22.4185 122.815 21.3473 123.805 20.5967C124.795 19.846 126.234 19.4707 128.122 19.4707C129.005 19.4707 129.827 19.5333 130.589 19.6584C131.35 19.7835 131.967 19.932 132.439 20.1041V22.8955C131.19 22.4107 129.888 22.1683 128.533 22.1683C127.574 22.1683 126.82 22.2778 126.272 22.4967C125.723 22.7 125.449 23.1379 125.449 23.8104C125.449 24.2013 125.548 24.5141 125.746 24.7487C125.944 24.9833 126.279 25.1944 126.751 25.382C127.239 25.5697 127.916 25.7808 128.784 26.0154C129.987 26.3438 130.916 26.7348 131.571 27.1883C132.226 27.6418 132.675 28.1579 132.919 28.7365C133.178 29.3151 133.307 29.9641 133.307 30.6835C133.307 31.9971 132.82 33.0527 131.845 33.8502C130.871 34.6478 129.371 35.0466 127.345 35.0466Z" fill="white" ></path> <path d="M135.447 34.812V19.7053H146V22.1683H138.531V26.0388H145.155V28.4784H138.531V32.3724H146V34.812H135.447Z" fill="white" ></path> <path d="M20.4886 13.7596L0 15.0699L21.9405 16.0527L24.0378 12.9406L30.1682 23.0958L38.0732 7.53546L48.3982 38.001L58.0778 9.82856L60.9817 16.0527L81.6316 15.0699L62.595 13.7596L58.0778 3.27684L48.3982 28.9924L38.0732 0.000976562L29.6842 18.6734L24.0378 7.53546L20.4886 13.7596Z" fill="white" ></path> 
                </svg>
              </button>
            </div>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="accordionDrawerOne"
              data-bs-parent="#accordionFooter"
            >
              <div class="accordion-body">
                <div class="footer-tp-columns">
                  <ul class="list-unstyled">
                    <li class="pb-4 text-white"><a href="#">News</a></li>
                    <li class="pb-4 text-white"><a href="#">Video</a></li>
                    <li class="pb-4 text-white"><a href="#">Trending</a></li>
                    <li class="pb-4 text-white"><a href="#">Agent@Home</a></li>
                    <li class="pb-4 text-white"><a href="#">Opinions</a></li>
                    <li class="pb-4 text-white"><a href="#">Suppliers</a></li>
                    <li class="pb-4 text-white"><a href="#">Offers</a></li>
                    <li class="pb-4 text-white"><a href="#">Blogs</a></li>
                    <li class="pb-4 text-white"><a href="#">Destinations</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item border-0">
            <div class="accordion-header border-top" id="accordionDrawerTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="165" height="50" viewBox="0 0 680.86 114.02"><defs><style>.cls-1{fill:#ffffff;}.cls-2{fill:#ffffff;}</style></defs><path class="cls-1" d="M209.83,245.29a1.59,1.59,0,0,1,1.61-1.52h2.12l35.21,37.41h.09v-35a1.6,1.6,0,0,1,1.61-1.61h7.78a1.66,1.66,0,0,1,1.61,1.61v57a1.59,1.59,0,0,1-1.61,1.53h-2l-35.38-38.86h-.09v36.4a1.6,1.6,0,0,1-1.61,1.61h-7.7a1.67,1.67,0,0,1-1.61-1.61Z" transform="translate(-57 -243)"/><path class="cls-1" d="M305.81,243.77a30.48,30.48,0,1,1-30.39,30.56A30.42,30.42,0,0,1,305.81,243.77Zm0,49.94a19.47,19.47,0,1,0-19.38-19.38A19.51,19.51,0,0,0,305.81,293.71Z" transform="translate(-57 -243)"/><path class="cls-1" d="M351.77,246.22a1.6,1.6,0,0,1,1.61-1.61h24.21A18.34,18.34,0,0,1,396,262.81c0,7.79-5.16,14.14-12.53,17.1l11.6,21.51a1.6,1.6,0,0,1-1.44,2.45h-8.89a1.44,1.44,0,0,1-1.35-.76l-11.26-22.43h-9.4v21.58a1.66,1.66,0,0,1-1.61,1.61h-7.78a1.6,1.6,0,0,1-1.61-1.61Zm24.88,25.4A8.63,8.63,0,0,0,385,263a8.42,8.42,0,0,0-8.39-8.21H362.86v16.85Z" transform="translate(-57 -243)"/><path class="cls-1" d="M422.91,254.77H410a1.6,1.6,0,0,1-1.6-1.61v-6.94a1.6,1.6,0,0,1,1.6-1.61h37a1.61,1.61,0,0,1,1.61,1.61v6.94a1.61,1.61,0,0,1-1.61,1.61H434v47.49a1.67,1.67,0,0,1-1.61,1.61h-7.87a1.66,1.66,0,0,1-1.61-1.61Z" transform="translate(-57 -243)"/><path class="cls-1" d="M465.82,246.22a1.66,1.66,0,0,1,1.61-1.61h7.88a1.6,1.6,0,0,1,1.6,1.61v22.43h27.6V246.22a1.61,1.61,0,0,1,1.61-1.61h7.78a1.66,1.66,0,0,1,1.61,1.61v56a1.66,1.66,0,0,1-1.61,1.61h-7.78a1.61,1.61,0,0,1-1.61-1.61V278.9h-27.6v23.36a1.6,1.6,0,0,1-1.6,1.61h-7.88a1.66,1.66,0,0,1-1.61-1.61Z" transform="translate(-57 -243)"/><path class="cls-1" d="M532.45,295.57l3-5.24a2,2,0,0,1,2.88-.6c.42.26,7.28,5.25,12.78,5.25,4.4,0,7.7-2.87,7.7-6.52,0-4.31-3.64-7.28-10.75-10.16-8-3.21-15.91-8.29-15.91-18.28,0-7.54,5.58-16.25,19-16.25a29.85,29.85,0,0,1,16.94,5.67,2.09,2.09,0,0,1,.5,2.79l-3.21,4.82c-.68,1-2,1.7-3,1-.67-.42-7.11-4.66-11.76-4.66-4.83,0-7.45,3.22-7.45,5.93,0,4,3.13,6.69,10,9.48C561.49,272.12,571,277,571,288c0,8.72-7.54,16.76-19.47,16.76-10.67,0-16.93-5-18.62-6.6C532.11,297.35,531.69,296.93,532.45,295.57Z" transform="translate(-57 -243)"/><path class="cls-1" d="M596.33,254.77h-13a1.6,1.6,0,0,1-1.6-1.61v-6.94a1.6,1.6,0,0,1,1.6-1.61h37a1.6,1.6,0,0,1,1.61,1.61v6.94a1.6,1.6,0,0,1-1.61,1.61h-13v47.49a1.66,1.66,0,0,1-1.6,1.61h-7.88a1.67,1.67,0,0,1-1.61-1.61Z" transform="translate(-57 -243)"/><path class="cls-1" d="M625.29,301.67l26.33-57a1.53,1.53,0,0,1,1.44-.93h.84a1.43,1.43,0,0,1,1.44.93l26.08,57a1.49,1.49,0,0,1-1.44,2.2h-7.37a2.42,2.42,0,0,1-2.45-1.69L666,293H640.7l-4.15,9.14a2.56,2.56,0,0,1-2.45,1.69h-7.37A1.5,1.5,0,0,1,625.29,301.67Zm36.57-18L653.4,265h-.26l-8.29,18.63Z" transform="translate(-57 -243)"/><path class="cls-1" d="M693.59,246.22a1.61,1.61,0,0,1,1.61-1.61h24.21a18.33,18.33,0,0,1,18.45,18.2c0,7.79-5.16,14.14-12.53,17.1l11.6,21.51a1.6,1.6,0,0,1-1.44,2.45H726.6a1.44,1.44,0,0,1-1.35-.76L714,280.68h-9.4v21.58a1.66,1.66,0,0,1-1.6,1.61H695.2a1.61,1.61,0,0,1-1.61-1.61Zm24.89,25.4a8.63,8.63,0,0,0,8.38-8.64,8.42,8.42,0,0,0-8.38-8.21h-13.8v16.85Z" transform="translate(-57 -243)"/><path class="cls-1" d="M218.88,328.72h-8.11c-.42,0-.55-.25-.55-.63v-.64a.54.54,0,0,1,.55-.55H229a.53.53,0,0,1,.55.55v.72a.53.53,0,0,1-.55.55h-8.14V356c0,.3-.26.55-.68.55h-.76a.55.55,0,0,1-.55-.55Z" transform="translate(-57 -243)"/><path class="cls-1" d="M254.33,327.45a.53.53,0,0,1,.55-.55H265.4a9.1,9.1,0,0,1,2.46,17.94l6.2,11c.21.34.12.76-.3.76h-1.32a.61.61,0,0,1-.59-.38L265.7,345.1c-.55,0-1,0-1.57,0h-7.8V356c0,.3-.26.55-.68.55h-.77a.56.56,0,0,1-.55-.55Zm11,15.91a7.41,7.41,0,0,0,7.5-7.38,7.32,7.32,0,0,0-7.54-7.13h-8.91v14.51Z" transform="translate(-57 -243)"/><path class="cls-1" d="M296,356.08,309,326.56a.6.6,0,0,1,.51-.3h.13a.54.54,0,0,1,.55.3l12.94,29.52c.08.26.08.51-.38.51h-1.11a.68.68,0,0,1-.59-.38l-3.44-7.81h-16.2L298,356.21a.7.7,0,0,1-.6.38h-1.18C296,356.59,295.83,356.42,296,356.08Zm21-9.33-7.25-17.1h-.09l-7.38,17.1Z" transform="translate(-57 -243)"/><path class="cls-1" d="M338.92,327.45c-.17-.34,0-.55.34-.55h1.15a.48.48,0,0,1,.46.3l11.46,26.34h.08L364,327.2a.49.49,0,0,1,.47-.3h1.1c.38,0,.55.25.38.59l-13,29.14a.56.56,0,0,1-.51.39h-.21a.56.56,0,0,1-.47-.39Z" transform="translate(-57 -243)"/><path class="cls-1" d="M390.71,327.45a.55.55,0,0,1,.55-.55h17a.56.56,0,0,1,.55.55v.72a.56.56,0,0,1-.55.55H392.74v11.71h13.45a.55.55,0,0,1,.55.55v.72a.55.55,0,0,1-.55.55H392.74v12.56h15.53a.56.56,0,0,1,.55.55V356a.56.56,0,0,1-.55.55h-17a.55.55,0,0,1-.55-.55Z" transform="translate(-57 -243)"/><path class="cls-1" d="M439.9,327.45a.55.55,0,0,1,.55-.55h.93a.55.55,0,0,1,.51.55v27.36h13.53c.51,0,.55.25.55.55v.76a.49.49,0,0,1-.55.47h-15a.55.55,0,0,1-.55-.55Z" transform="translate(-57 -243)"/><path class="cls-1" d="M530.07,326.47a14.48,14.48,0,0,1,10.27,3.95.54.54,0,0,1,0,.76,9.52,9.52,0,0,1-.68.72c-.25.3-.47.26-.72,0a13.07,13.07,0,0,0-9-3.56,13.36,13.36,0,0,0,0,26.72,15.9,15.9,0,0,0,8.82-2.33v-8H531.6c-.47,0-.55-.17-.55-.56v-.84c0-.34.08-.51.55-.51h8.69a.56.56,0,0,1,.56.51v9.84a1.17,1.17,0,0,1-.6,1.1A19.57,19.57,0,0,1,530.07,357a15.28,15.28,0,1,1,0-30.55Z" transform="translate(-57 -243)"/><path class="cls-1" d="M570.21,327.45a.53.53,0,0,1,.55-.55h10.52a9.1,9.1,0,0,1,2.46,17.94l6.19,11c.21.34.13.76-.3.76h-1.31a.61.61,0,0,1-.6-.38l-6.15-11.11c-.55,0-1,0-1.57,0h-7.8V356c0,.3-.25.55-.68.55h-.76a.55.55,0,0,1-.55-.55Zm11,15.91A7.42,7.42,0,0,0,588.7,336a7.33,7.33,0,0,0-7.55-7.13h-8.91v14.51Z" transform="translate(-57 -243)"/><path class="cls-1" d="M630.31,326.47A15.28,15.28,0,1,1,615,341.79,15.26,15.26,0,0,1,630.31,326.47Zm0,28.68a13.41,13.41,0,1,0-13.4-13.36A13.38,13.38,0,0,0,630.31,355.15Z" transform="translate(-57 -243)"/><path class="cls-1" d="M669.51,327.45a.55.55,0,0,1,.55-.55H671a.55.55,0,0,1,.55.55v18.11c0,5.47,3.44,9.5,9.08,9.5s9.16-4,9.16-9.46V327.45c0-.34.17-.55.59-.55h.85a.55.55,0,0,1,.55.55v18.32c0,6.5-4.41,11.25-11.15,11.25s-11.07-4.75-11.07-11.25Z" transform="translate(-57 -243)"/><path class="cls-1" d="M718.5,327.45a.55.55,0,0,1,.55-.55h9.11a9.57,9.57,0,1,1,.05,19.13h-7.72v10c0,.3-.26.55-.68.55h-.76a.55.55,0,0,1-.55-.55Zm9.58,16.63a7.74,7.74,0,0,0,7.68-7.72,7.62,7.62,0,0,0-7.72-7.47h-7.55v15.19Z" transform="translate(-57 -243)"/><polygon class="cls-2" points="47.8 113 114 113 114 69.28 110.05 60.7 47.8 113"/><polygon class="cls-2" points="114 0 96.09 0 114 34.13 114 0"/><polygon class="cls-2" points="35.56 22.39 102.92 39.04 95.63 0 0 0 0 113 46.28 113 99.4 50.31 35.56 22.39"/></svg>
              </button>
            </div>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="accordionDrawerTwo"
              data-bs-parent="#accordionFooter"
            >
              <div class="accordion-body">
                <div class="footer-ns-columns">
                  <ul class="list-unstyled">
                    <li class="pb-4 text-white"><a href="#">TravelPulse</a></li>
                    <li class="pb-4 text-white"><a href="#">Travel Weekly</a></li>
                    <li class="pb-4 text-white"><a href="#">TravelAge West</a></li>
                    <li class="pb-4 text-white"><a href="#">Corporate Travel</a> </li>
                    <li class="pb-4 text-white"><a href="#">Agent Studio</a></li>
                    <li class="pb-4 text-white"><a href="#">TravAllianceMedia</a></li>
                    <li class="pb-4 text-white"><a href="#">TravelPulse Canada</a></li>
                    <li class="pb-4 text-white"><a href="#">Travel Weekly Asia</a></li>
                    <li class="pb-4 text-white"><a href="#">Hotel Investment</a></li>
                    <li class="pb-4 text-white"><a href="#">Meetings &amp; Incentives</a></li>
                    <li class="pb-4 text-white"><a href="#">Travel Agent Academy</a></li>
                    <li class="pb-4 text-white"><a href="#">TravelPulse Quebec</a></li>
                    <li class="pb-4 text-white"><a href="#">Travel Weekly China</a></li>
                    <li class="pb-4 text-white"><a href="#">Travel Technology</a></li>
                    <li class="pb-4 text-white"><a href="#">Data Products</a></li>
                    <li class="pb-4 text-white"><a href="#">Digital Events &amp; Seminars</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-icon text-center py-10">
          <ul class="list-unstyled mb-0">
            <li class="d-inline-block">Follow Us</li>
            <li class="d-inline-block ps-4">
              <a href="https://www.facebook.com/travelpulse" target="_blank">
                <img src="./images/svg/icons/Social-icon.svg" alt="Facebook">
              </a>
            </li>
            <li class="d-inline-block ps-4">
              <a href="https://twitter.com/travelpulse" target="_blank">
                <img src="./images/svg/icons/Social-icon-4.svg" alt="Twitter">
              </a>
            </li>
            <li class="d-inline-block ps-4">
              <a href="https://www.linkedin.com/company/travelpulse?trk=company_logo" target="_blank">
                <img src="./images/svg/icons/Group.svg" alt="LinkedIn">
              </a>
            </li>
            <li class="d-inline-block ps-4">
              <a href="https://www.youtube.com/c/travelpulse" target="_blank">
                <img src="./images/svg/icons/Social-icon-2.svg" alt="YouTube">
              </a>
            </li>
          </ul>
        </div>
        <div class="term-privacy text-center pb-2">
          <ul class="list-unstyled mb-0">
            <li class="d-inline-block"><a href="#">Terms of Use</a></li>
            <li class="d-inline-block ps-3"><a href="#">Privacy Policy</a></li>
            <li class="d-inline-block ps-3 pt-c-8"><a href="#">Copyright</a></li>
            <li class="d-inline-block ps-3 pt-c-8"><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <p class="text-center px-lg-0 px-1">Copyright © 2022 Northstar Travel Media, LLC. <span class="nowrap">All Rights Reserved.</span></p>
      </div>
    </div>
  </div>
</footer>