<!-- Footer -->
<footer class="footer news-gradient-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="accordion" id="accordionExample">
  <div class="accordion-item border-0">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <img src="images/png/footer/logo.png" alt="">
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item border-0">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <img src="images/png/footer/logo-1.png" alt="">
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
<div class="footer-icon text-center py-10">
<ul class="list-unstyled mb-0">
  <li class="d-inline-block"><a href="" class="follow">Follow Us</a></li>
  <li class="d-inline-block ps-4 "><img src="images/png/footer/Social-icon.png" alt=""></li>
  <li class="d-inline-block ps-4"><img src="images/png/footer/Social-icon-4.png" alt=""></li>
  <li class="d-inline-block ps-4"><img src="images/png/footer/Social-icon-2.png" alt=""></li>
  <li class="d-inline-block ps-4"><img src="images/png/footer/Social-icon-3.png" alt=""></li>
</ul>
</div>
<div class="term-privacy text-center pb-2">
  <ul class="list-unstyled mb-0">
    <li class="d-inline-block"><a href="">Terms of Use</a></li>
    <li class="d-inline-block ps-3"><a href="">Privacy Policy</a></li>
    <li class="d-inline-block ps-3"><a href="">Copyright</a></li>
    <li class="d-inline-block ps-3"><a href="">Contact Us</a></li>
  </ul>
</div>
<p class="text-center">Copyright © 2022 Northstar Travel Media, LLC. All Rights Reserved. </p>
      </div>
    </div>
  </div>
</footer>

