<!-- Footer -->
<footer class="footer news-gradient-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="accordion" id="accordionExample">
  <div class="accordion-item border-0">
    <h2 class="accordion-header  border-top" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <img src="images/png/footer/logo.png" alt="">
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body ">
        <div class="d-md-none d-flex justify-content-between">
          <ul class="list-unstyled">
          <li class="pb-4 text-white">News</li>
          <li class="pb-4 text-white">Offers</li>
          <li class="pb-4 text-white">Opinions</li>
          <li class="pb-4 text-white">Trending</li>
          <li class="pb-4 text-white">Destinations</li>
        </ul>
        <ul class="list-unstyled">
          <li class="pb-4 text-white">Agent@Home</li>
          <li class="pb-4 text-white">Video</li>
          <li class="pb-4 text-white">Blogs</li>
            <li class="pb-4 text-white">Suppliers</li>
        </ul>
        </div>
        <div class="d-md-flex d-none justify-content-between">
        <ul class="list-unstyled">
          <li class="pb-4 text-white">News</li>
          <li class="pb-4 text-white">Video</li>
          <li class="pb-4 text-white">Trending</li>
        </ul>
         <ul class="list-unstyled">
          <li class="pb-4 text-white">Agent@Home</li>
          <li class="pb-4 text-white">Opinions</li>
          <li class="pb-4 text-white">Suppliers</li>
        </ul>
         <ul class="list-unstyled">
          <li class="pb-4 text-white">Offers</li>
          <li class="pb-4 text-white">Blogs</li>
          <li class="pb-4 text-white">Destinations</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item border-0">
    <h2 class="accordion-header border-top" id="headingTwo ">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <img src="images/png/footer/logo-1.png" alt="">
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body  ">
        <div class="d-md-none d-flex justify-content-between">
          <ul class="list-unstyled">
          <li class="pb-4 text-white">TravelPulse</li>
          <li class="pb-4 text-white">TravelPulse Quebec</li>
          <li class="pb-4 text-white">Travel Weekly Asia</li>
           <li class="pb-4 text-white"> TravelAge West</li>
            <li class="pb-4 text-white">Travel Technology</li>
             <li class="pb-4 text-white">Hotel Investment</li>
             <li class="pb-4 text-white">Agent Studio</li>
             <li class="pb-4 text-white">Digital Events Seminars</li>
         
        </ul>
        <ul class="list-unstyled">
          <li class="pb-4 text-white">TravelPulse  Canada</li>
          <li class="pb-4 text-white">Travel Weekly</li>
          <li class="pb-4 text-white">Travel Weekly  China</li>
           <li class="pb-4 text-white"> Meetings &  Incentives</li>
            <li class="pb-4 text-white">Corporate Travel</li>
             <li class="pb-4 text-white">Data Products</li>
              <li class="pb-4 text-white">Travel Agent  Academy</li>
               <li class="pb-4 text-white">TravAllianceMedia</li>
         
        </ul>
        </div>
        <div class="d-md-flex d-none justify-content-between">
        <ul class="list-unstyled">
          <li class="pb-4 text-white">TravelPulse</li>
          <li class="pb-4 text-white">Travel Weekly</li>
          <li class="pb-4 text-white">TravelAge West</li>
           <li class="pb-4 text-white"> Corporate Travel</li>
            <li class="pb-4 text-white">Agent Studio</li>
             <li class="pb-4 text-white">TravAllianceMedia</li>
         
        </ul>
         <ul class="list-unstyled">
          <li class="pb-4 text-white">TravelPulse Quebec</li>
          <li class="pb-4 text-white">Travel Weekly China</li>
          <li class="pb-4 text-white">Travel Technology</li>
          <li class="pb-4 text-white">Data Products</li>
          <li class="pb-4 text-white">Digital Events & Seminars</li>
        </ul>
         <ul class="list-unstyled">
          <li class="pb-4 text-white">Offers</li>
          <li class="pb-4 text-white">Blogs</li>
          <li class="pb-4 text-white">Destinations</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-icon text-center py-10">
<ul class="list-unstyled mb-0">
  <li class="d-inline-block"><a href="" class="follow">Follow Us</a></li>
  <li class="d-inline-block ps-4 "><img src="images/png/footer/Social-icon.png" alt=""></li>
  <li class="d-inline-block ps-4"><img src="images/png/footer/Social-icon-4.png" alt=""></li>
  <li class="d-inline-block ps-4"><img src="images/png/footer/Social-icon-2.png" alt=""></li>
  <li class="d-inline-block ps-4"><img src="images/png/footer/Social-icon-3.png" alt=""></li>
</ul>
</div>
<div class="term-privacy text-center pb-2">
  <ul class="list-unstyled mb-0">
    <li class="d-inline-block"><a href="">Terms of Use</a></li>
    <li class="d-inline-block ps-3"><a href="">Privacy Policy</a></li>
    <li class="d-inline-block ps-3 pt-c-8"><a href="">Copyright</a></li>
    <li class="d-inline-block ps-3 pt-c-8"><a href="">Contact Us</a></li>
  </ul>
</div>
<p class="text-center">Copyright © 2022 Northstar Travel Media, LLC. All Rights Reserved. </p>
      </div>
    </div>
  </div>
</footer>

