<section class="banner-articel-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <Div class="p-121">
                <a data-bs-toggle="modal" data-bs-target="#myModal-1">
                <img src="images/svg/icons/Media-1.svg" alt="Image Alt Tag Goes here">
                <span>Start Slideshow</span>
                </a>
                     <div class="wrap">
<div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-item-bg d-flex">
        <div style="width: 300px;" class="text-start">
            <h3>Los Angeles, California</h3>
            <h4>01 / 51</h4>
            <h5>Birds walking on the beach of Dauphin Island, Alabama. (Photo via iStock / Getty Images Plus / peeterv)</h5>
        </div>
        <p>
         While the Philly cheesesteak is perhaps Philadelphia’s most famous contribution to food culture, there’s much more to the culinary scene of America’s sixth-largest city. The diversity of the city’s epicurean delights stems from the contributions of more than three centuries’ worth of immigrants who migrated from all over the globe. You can stick with local favorite food items or maybe some new American cuisine, or seek out some Southern comfort foods—think mac and cheese, gumbo and fried chicken—at South Jazz Kitchen. Or, go global and try out an empanada or alfajor from Jezabel’s Argentine Café; savor spicy Thai dishes at Kalaya; authentic Vietnamese street eats, like dumplings, noodles and seafood, at Gabriella’s Vietnam; spicy Sichuan dishes at Han Dynasty; Israeli mezze and lamb at Zahav; Ethiopian platters at Abyssinia; or Kilimandjaro Senegalese-style fish and grilled chicken.   
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-item-bg-1 d-flex">
        <div style="width: 300px;" class="text-start">
            <h3>Milwaukee, Wisconsin</h3>
            <h4>02 / 51</h4>
            <h5>Birds walking on the beach of Dauphin Island, Alabama. (Photo via iStock / Getty Images Plus / peeterv)</h5>
        </div>
        <p>
         While the Philly cheesesteak is perhaps Philadelphia’s most famous contribution to food culture, there’s much more to the culinary scene of America’s sixth-largest city. The diversity of the city’s epicurean delights stems from the contributions of more than three centuries’ worth of immigrants who migrated from all over the globe. You can stick with local favorite food items or maybe some new American cuisine, or seek out some Southern comfort foods—think mac and cheese, gumbo and fried chicken—at South Jazz Kitchen. Or, go global and try out an empanada or alfajor from Jezabel’s Argentine Café; savor spicy Thai dishes at Kalaya; authentic Vietnamese street eats, like dumplings, noodles and seafood, at Gabriella’s Vietnam; spicy Sichuan dishes at Han Dynasty; Israeli mezze and lamb at Zahav; Ethiopian platters at Abyssinia; or Kilimandjaro Senegalese-style fish and grilled chicken.   
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-item-bg-2"></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      <div class="modal-body">
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span>
        </button>        

        
        
      </div>

    </div>
  </div>
</div>
</div>
                <h1>Indulge in exquisite tastes and exotic views at Secrets® Moxché Playa Del Carmen</h1>
                </div>
                <p>PHOTO: Vancouver Cityscape at sunset (Photo via jamesvancouver / iStock / Getty Images Plus)</p>
            </div>
        </div>
    </div>
</section>