<section class="banner-artical">
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="images/png/card/Media Type.png" alt="">
            <h1 class="">
                Title of Article with Venenatis Tortor Egestas Dapibus Lorem Ipsum
            </h1>
            <p>Image: Caribbean Honeymoon Beachfront Butler Suite (Courtesy of Sandals Resorts)</p>
        </div>
    </div>
</div>
</section>