<div class="trending-card">
    <div class="container">
        <div class="row">
            {{#each cards}}
                <div class="col-lg-4 ">
                    {{>base-card card=this}}
                </div>
            {{/each}}
        </div>
       <div class="ab-card d-none m-0 mb-12 col-md-6">
                    <p class="p-0">advertisement</p>
                    <img src="./images/png/card/hilton-1@2x.png" alt="Image Alt Tag Goes here"' class="img-fluid">
                    </div>
    </div>
</div>