.news-filter-cards {
    padding-top: 72px;
    padding-bottom: 82px;

    .header-card {

        width: 369px;
        height: 220px;
        background: #217BC0;
        border-radius: 8px 8px 0px 0px;
        padding: 0px 13px 0px 7px;
        top: -40px;

        p {
            padding-top: 14px;
            padding-bottom: 12px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            margin: 0;
        }

    }

    .header-card-1 {
        &:hover {
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        }

        .img-top {
            overflow: hidden;
            position: relative;

            &:hover {
                transform: scale(1.05);
            }

            .img-bar {
                position: absolute;
                bottom: 11px;
                width: 343px;
                height: 7px;
                background-color: #217BC0;
                transition: transform 0.6s;
                left: 7px;

                &:hover {
                    transform: translateX(-102%);

                }
            }
        }

        .p-news {
            padding-top: 16px;
            padding-bottom: 10px;
        }

        .card-news {


            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #217BC0;
        }

        h2 {
            font-family: 'Roboto Serif';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            padding-top: 14px;
            padding-bottom: 24px;

        }

        h6 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #607180;
            padding-bottom: 24px;

        }
    }


    .body-card {
        padding: 0px 16px;

        .p-news-1 {
            padding-top: 16px;
            padding-bottom: 10px;
        }

        .card-news-1 {


            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #217BC0;
        }

        h2 {
            font-family: 'Roboto Serif';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            padding-top: 14px;
            padding-bottom: 24px;

        }

        h6 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #607180;
            padding-bottom: 24px;

        }

        h4 {
            font-family: 'Roboto Serif';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #111824;
            padding-right: 90px;
        }
    }

    .border-card {
        border-bottom: 2px solid #BFC6CC;
        padding: 16px 0px;

    }

    .w-h-img {
        width: 22px;
        height: 22px;

    }

    .divder {
        position: absolute;
        width: 337px;
        height: 7px;
        left: 12px;
        top: auto;
        bottom: -41px;
        background: #217BC0;

    }

    .divder-1 {
        position: absolute;
        width: 342px;
        height: 7px;
        left: 8px;
        top: auto;
        bottom: 10px;
        background: #217BC0;
    }
}

@media (max-width: 930px) {
    .feature-card {
        padding-top: 0 !important;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0;

        .paddding-h4 {
            padding-left: 31.5px;
            padding-right: 31.5px;
        }

        .body-card {
            padding: 0px;
        }

        .header-sm {
            padding-top: 0px;
            padding-bottom: 8px;

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #0B5188;
                padding-bottom: 8px;
            }

            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                text-align: right;
                color: #0267B8;
            }

        }

        .border-bottom-sm {
            border-bottom: 7px solid #DFE3E6 !important;
        }

        .body-sm {
            .body-head {
                h6 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    color: #217BC0;
                }

                h3 {
                    font-family: 'Roboto Serif';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000000;
                    padding-top: 4px;
                    padding-bottom: 4px;
                }

                h5 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;


                    color: #607180;
                }
            }
        }
    }

    .pb-72 {
        padding-bottom: 56px;

    }
}