{{!-- <section class="trending">
  <div class="container" id="featureContainer">
  <div class="row mx-auto my-auto justify-content-center">
    <div id="feature"class="carousel slide" data-bs-ride="carousel">
    <a href="https://www.jqueryscript.net/tags.php?/Carousel/">Carousel</a>
      <!-- Carousel Title OPTIONAL -->
      <h2 class="font-weight-light float-start">Carousel Title</h2>
      <!-- Prev & Next Buttons -->
      <div class="float-end pe-md-4">
        <a class="indicator" href="#featureCarousel" role="button" data-bs-slide="prev">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
        </a> &nbsp;&nbsp;
        <a class="w-aut indicator" href="#featureCarousel" role="button" data-bs-slide="next">
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
      <!-- Carousel Items -->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <img src="https://source.unsplash.com/JTkibpa_Xv4/450x650" class="img-fluid">
              </div>
              <div class="card-img-overlays">Slide 1</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <img src="https://source.unsplash.com/m-eNBfYYrbA/450x650" class="img-fluid">
              </div>
              <div class="card-img-overlays">Slide 2</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-md-3">
            <div class="card">
              <div class="card-img">
                <img src="https://source.unsplash.com/W2XfQIptWYs/450x650" class="img-fluid">
              </div>
              <div class="card-img-overlays">Slide 3</div>
            </div>
          </div>
        </div>
        ... more items here ...
      </div>
    </div>
  </div>
</div>
    </section> --}}


    <section id="slider">
  <input type="radio" name="slider" id="s1" checked>
  <input type="radio" name="slider" id="s2">
  <input type="radio" name="slider" id="s3">
  <input type="radio" name="slider" id="s4">
  <input type="radio" name="slider" id="s5">

  <label for="s1" id="slide1"><img src="images/png/card/Frame-slider-1.jpg" alt=""></label>
  <label for="s2" id="slide2"><img src="images/png/card/Frame-slider-2.png" alt=""></label>
  <label for="s3" id="slide3"><img src="images/png/card/Frame-4.jpg" alt=""></label>
  <label for="s4" id="slide4"><img src="images/png/card/Frame-5.jpg" alt=""></label>
</section>