<section id='page-header' class='styleguide-section'>
  <h2>Page Header</h2>

  <div class='styleguide-section-block'>
    <div class='styleguide-section-files'>Reference files: _page-header.scss,
      page-header.hbs</div>

    <div class='styleguide-demo-block'>
      <div class='styleguide-demo-each styleguide-demo-each--page-header'>

        {{>page-header}}

      </div>
      <!-- /.styleguide-demo-each -->
      <button
        class='btn-styleguide-code js-btn-styleguide-code btn btn--brand-1 btn--sm'
      >Code</button>
    </div>
    <!-- /.styleguide-demo-block -->

  </div>
  <!-- /.styleguide-section-block -->
</section>