<section id='page-header' class='styleguide-section'>
  <h2>Page Header</h2>

  <div class='styleguide-section-block'>
    <div class='styleguide-section-files'>Reference files: _page-header.scss,
      page-header.hbs</div>

    <div class='styleguide-demo-block'>
      <div class='styleguide-demo-each styleguide-demo-each--page-header'>
       
       <nav class='navbar navbar-expand-lg primary-blue-bg'>
  <div class='container'>
    <button
      class='navbar-toggler ps-4'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNavDropdown'
      aria-controls='navbarNavDropdown'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <a class='navbar-brand' href='#'><img
        src='images/png/header/Logo.png'
        alt=''
        class='pe-14 d-lg-block d-none'
      />
      <img
        src='images/png/header/Logo-sm.png'
        alt=''
        class='d-lg-none d-block'
      /></a>
    <img
      src='images/png/header/search-sm.png'
      alt=''
      class='d-lg-none d-block pe-3'
    />

    <div class='collapse navbar-collapse' id='navbarNavDropdown'>
      <ul class='align-items-lg-center navbar-nav'>
        <li class='nav-item ps-lg-9 ps-0 grid-nav-li'>
          <a
            class='nav-link active semi-bold-text-sm text-white grid-nav-link dropdown-toggle border-bottom-1'
            type='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
            href='#'
          >NEWS</a>
          <ul
            class='dropdown-menu main-gridbox-ul four-gridbox'
            data-bs-popper='none'
          >
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <a
                href='#'
                class='d-lg-block d-none dropdown-item dropdown-toggle pb-lg-4 ps-md-6 ps-0 text-md secondary-gery'
                data-bs-toggle='dropdown'
                data-bs-auto-close='outside'
              >
                CATEGORIES</a>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Latest</a></li>
                <li><a href='#'>Trending </a></li>
                <li><a href='#'>Alerts </a></li>
                <li><a href='#'>Airlines and Airports   </a></li>
                <li><a href='#'>Business Travel  </a></li>
                <li><a href='#'>Car and Rail   </a></li>
                <li><a href='#'>Cruise  </a></li>
                <li><a href='#'>Entertainment  </a></li>

              </ul>
            </li>
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <a
                href='#'
                class='opacity-0 d-lg-block d-none dropdown-item dropdown-toggle pb-lg-4 ps-md-6 ps-0 text-md secondary-gery'
                data-bs-toggle='dropdown'
                data-bs-auto-close='outside'
              >
                asdsa
              </a>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Host / Consortia </a></li>
                <li><a href='#'>Hotel and Resort </a></li>
                <li><a href='#'>LGBTQ+</a></li>
                <li><a href='#'>Technology </a></li>
                <li><a href='#'>Agents  </a></li>
                <li><a href='#'>Vacation Packages </a></li>
                <li><a href='#'>All News </a></li>
              </ul>
            </li>
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <a
                href='#'
                class='d-lg-block d-none dropdown-item dropdown-toggle pb-lg-4 text-md secondary-gery ps-md-6 ps-0'
                data-bs-toggle='dropdown'
                data-bs-auto-close='outside'
              >
                MEDIA TYPE</a>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Articles</a></li>
                <li><a href='#'>Blogs</a></li>
                <li><a href='#'>Podcasts</a></li>
                <li><a href='#'>Video</a></li>
              </ul>
            </li>
            <li
              class='main-gridbox-li padding-left-custom-mobile d-lg-block d-none'
            >
              <div class='d-flex'>

                <figure>
                  <img src='images/png/header/Image.png' alt='' />
                </figure>
                <div class='ps-4 w-204'>
                  <p
                    class='medium-text-xs pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Impacting Travel</p>
                  <p
                    class='regular-text-sm pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Canadian Residents Special Rate - American Queen Voyages
                    Summer of Discovery Savings</p>
                  <p
                    class='regular-text-sm pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Author</p>
                </div>

              </div>
            </li>
          </ul>
        </li>
        <li class='nav-item ps-lg-9 ps-0 grid-nav-li'>
          <a
            class='nav-link active semi-bold-text-sm text-white grid-nav-link dropdown-toggle border-bottom-1'
            type='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
            href='#'
          >OFFERS</a>
          <ul
            class='dropdown-menu main-gridbox-ul three-gridbox'
            data-bs-popper='none'
          >
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Latest</a></li>
                <li><a href='#'>Agent​ </a></li>
                <li><a href='#'>Airlines and Airports   </a></li>
                <li><a href='#'>Business Travel  </a></li>
                <li><a href='#'>Car and Rail   </a></li>
                <li><a href='#'>Cruise  </a></li>
              </ul>
            </li>
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Entertainment </a></li>
                <li><a href='#'>Host / Consortia  </a></li>
                <li><a href='#'>Hotel and Resort </a></li>
                <li><a href='#'>Technology </a></li>
                <li><a href='#'>Vacation Packages </a></li>
                <li><a href='#'>All News </a></li>
              </ul>
            </li>
            <li
              class='main-gridbox-li padding-left-custom-mobile d-lg-block d-none'
            >
              <img src='images/png/header/ad.png' alt='' />
            </li>
          </ul>
        </li>
        <li class='nav-item ps-lg-9 ps-0 grid-nav-li'>
          <a
            class='nav-link active semi-bold-text-sm text-white grid-nav-link dropdown-toggle border-bottom-1'
            type='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
            href='#'
          >DESTINATIONS</a>
          <ul
            class='dropdown-menu main-gridbox-ul three-gridbox'
            data-bs-popper='none'
          >
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Africa</a></li>
                <li><a href='#'>Antarctica​ </a></li>
                <li><a href='#'>Asia​ </a></li>
                <li><a href='#'>Caribbean​   </a></li>
                <li><a href='#'>Central America​  </a></li>
                <li><a href='#'>Europe​   </a></li>
                <li><a href='#'>Mediterranean​  </a></li>
                <li><a href='#'>Middle East​  </a></li>
                <li><a href='#'>North America​​  </a></li>
                <li><a href='#'>Pacific​  </a></li>

              </ul>
            </li>

            <li
              class='main-gridbox-li padding-left-custom-mobile d-lg-block d-none'
            >
              <div class='d-flex'>

                <figure>
                  <img src='images/png/header/destinattion.png' alt='' />
                </figure>
                <div class='ps-4 w-204'>
                  <p
                    class='medium-text-xs pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Destination</p>
                  <p
                    class='regular-text-sm pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Canadian Residents Special Rate - American Queen Voyages
                    Summer of Discovery Savings</p>
                  <p
                    class='regular-text-sm pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Author Name</p>
                </div>

              </div>
            </li>
            <li
              class='main-gridbox-li padding-left-custom-mobile d-lg-block d-none'
            >
              <div class='d-flex'>

                <figure>
                  <img src='images/png/header/destinattion-1.png' alt='' />
                </figure>
                <div class='ps-4 w-204'>
                  <p
                    class='medium-text-xs pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Destination</p>
                  <p
                    class='regular-text-sm pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Canadian Residents Special Rate - American Queen Voyages
                    Summer of Discovery Savings</p>
                  <p
                    class='regular-text-sm pb-1 m-0'
                    style='color: #EAEFF4;'
                  >Author</p>
                </div>

              </div>
            </li>
          </ul>
        </li>
        <li class='nav-item ps-lg-9 ps-0 grid-nav-li'>
          <a
            class='nav-link active semi-bold-text-sm text-white grid-nav-link dropdown-toggle border-bottom-1'
            type='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
            href='#'
          >EDUCATION</a>
          <ul
            class='dropdown-menu main-gridbox-ul four-gridbox'
            data-bs-popper='none'
          >
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <a
                href='#'
                class='d-lg-block d-none dropdown-item dropdown-toggle pb-lg-4 ps-md-6 ps-0 text-md secondary-gery'
                data-bs-toggle='dropdown'
                data-bs-auto-close='outside'
              >
                LEARN</a>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Travel Agent Academy​</a></li>
                <li><a href='#'>Agent@Home​ </a></li>
                <li><a href='#'>Digital Guides </a></li>
                <li><a href='#'>Webinars​   </a></li>
                <li><a href='#'>Virtual Travel Events​  </a></li>
              </ul>
            </li>
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <a
                href='#'
                class='d-lg-block d-none dropdown-item dropdown-toggle pb-lg-4 ps-md-6 ps-0 text-md secondary-gery'
                data-bs-toggle='dropdown'
                data-bs-auto-close='outside'
              >
                RESOURCES
              </a>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Find a Supplier​</a></li>
                <li><a href='#'>Advertise with Us </a></li>
              </ul>
            </li>
            <li class='main-gridbox-li padding-left-custom-mobile'>
              <a
                href='#'
                class='d-lg-block d-none dropdown-item dropdown-toggle pb-lg-4 text-md secondary-gery ps-md-6 ps-0'
                data-bs-toggle='dropdown'
                data-bs-auto-close='outside'
              >
                INDUSTRY VOICES</a>
              <ul class='inner-grid-box-ul'>
                <li><a href='#'>Opinion</a></li>
                <li><a href='#'>Blog</a></li>
              </ul>
            </li>
            <li
              class='main-gridbox-li padding-left-custom-mobile d-lg-block d-none'
            >
              <img src='images/png/header/Card Promo.png' alt='' />
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <img
        src='images/png/header/search-lg.png'
        alt=''
        class='d-lg-block d-none'
      />
    </div>
  </div>
</nav>

      </div>
      <!-- /.styleguide-demo-each -->
      <button
        class='btn-styleguide-code js-btn-styleguide-code btn btn--brand-1 btn--sm'
      >Code</button>
    </div>
    <!-- /.styleguide-demo-block -->

  </div>
  <!-- /.styleguide-section-block -->
</section>