


$colors-map: (
  "primary-white": $primary-white,
  "primary-black": $primary-black,
  "primary-blue": $Primary-Blue,
  "primary-blue-1": $Primary-Blue-1,
  "secondary-gery": $Secondary,
  "news-primary": $News-Primary,
  "news-gradient": $News-Gradient,
  "offers-primary": $Offers-Primary,
  "offers-gradient": $Offers-Gradient,
  "destinations-primary": $Destinations-Primary,
  "destinations-gradient": $Destinations-Gradient,
  "industry-voices-primary": $Industry-Voices-Primary,
  "industry-voices-gradient": $Industry-Voices-Gradient,
  "resources-tools-primary": $Resources-Tools-Primary,
  "resources-tools-gradient": $Resources-Tools-Gradient,
  "grey-Gradient": $Grey-Gradient,
  "destinations-gradient-1": $Destinations-Gradient-1,
  "destinations-secondary": $Destinations-Secondary,
  "podcast-gradient": $Podcast-Gradient,
  "webinar-gradient": $Webinar-Gradient,
  "taa-gradient": $TAA-Gradient,
  "newsletter-gradient": $newsletter-gradient,
  "agent-at-home-gradient": $Agent-At-Home-Gradient,
  "advertise-with-us": $Advertise-With-Us
  
);

@each $name, $hex-value in $colors-map {
    .#{$name} {
      color: $hex-value;
    }
  
    .#{$name}-bg {
      background: $hex-value;
    }
  }