

.font-family-roboto-slap {
    font-family: $font-family-serif;
  }
  
  
  // ---------------------------------------------
  // TYPOGRAPHY: FONTS: SIZES
  // Generates classes for font sizes
  // E.g., font-size, font-size-sm, font-size-lg
  
  // Sass Map to store font sizes
  $font-sizes-map: (
    "font-size": $font-size-base,
    "font-size-2xl": $display-font-size-2xl,
    "font-size-xl": $display-font-size-xl,
    "font-size-lg": $display-font-size-lg,
    "font-size-md": $display-font-size-md,
    "font-size-sm": $display-font-size-sm,
    "font-size-xs": $display-font-size-xs,
    "text-font-size-xl": $text-font-size-xl,
    "text-font-size-lg": $text-font-size-lg,
    "text-font-size-md": $text-font-size-md,
    "text-font-size-sm": $text-font-size-sm,
    "text-font-size-xs": $text-font-size-xs,
  );
  
  // @each Sass loop to generate classes
  @each $name, $value in $font-sizes-map {
    .#{$name} {
      font-size: $value;
    }
  }
  
  // Sass Map to store font weights
$font-weight-map: (
    "font-regular": $font-weight-Regular,
    "font-Medium": $font-weight-Medium, 
    "font-semi-bold": $font-weight-semi-bold,
    "font-bold": $font-weight-bold
  );
  
  // @each Sass loop to generate classes
  @each $name, $value in $font-weight-map {
    .#{$name} {
      font-weight: $value;
    }
  }
   

  $line-height-map: (
    "line-height" :$line-height-base, 
    "line-height-2xl": $display-line-height-2xl, 
    "line-height-xl": $display-line-height-xl, 
    "line-height-lg": $display-line-height-lg, 
    "line-height-md": $display-line-height-md,
    "line-height-sm": $display-line-height-sm, 
    "line-height-xs": $display-line-height-xs, 

    "line-height-text-xl": $text-line-height-xl,
    "line-height-text-lg": $text-line-height-lg,  
    "line-height-text-md": $text-line-height-md,  
    "line-height-text-sm": $text-line-height-sm,  
    "line-height-text-xs": $text-line-height-xs  
  );
  
  // @each Sass loop to generate classes
  @each $name, $value in $line-height-map {
    .#{$name} {
        line-height: $value;
    }
  }
//   @each $display, $font-size in $display-font-sizes {
//     .display-#{$display} {
//       @include font-size($font-size);
//       font-weight: $display-font-weight;
//       line-height: $display-line-height;
//     }
//   }

//   @each $display, $font-size in $display-font-sizes {
//     .display-#{$display} {
//       @include font-size($font-size);
//       line-height: $display-line-height;
//     }
//   }


  @mixin display-2xl($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-2xl;
    color:inherit;
    line-height:$display-line-height-2xl;
  }
  
  .bold-2xl {
    @include display-2xl;
  }
  .semi-bold-2xl {
    @include display-2xl($font-wieght:$font-weight-semi-bold);
  }
  .medium-2xl {
    @include display-2xl($font-wieght:$font-weight-Medium);
  }
  .regular-2xl {
    @include display-2xl($font-wieght:$font-weight-Regular);
  }
  @mixin display-xl($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-xl;
    color:inherit;
    line-height:$display-line-height-xl;
  }

  .bold-xl{
    @include display-xl;
  }
  .semi-bold-xl {
    @include display-xl($font-wieght:$font-weight-semi-bold);
  }
  .medium-xl {
    @include display-xl($font-wieght:$font-weight-Medium);
  }
  .regular-xl {
    @include display-xl($font-wieght:$font-weight-Regular);
  }

  @mixin display-lg($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-lg;
    color:inherit;
    line-height:$display-line-height-lg;
  }

  .bold-lg{
    @include display-lg;
  }
  .semi-bold-lg {
    @include display-lg($font-wieght:$font-weight-semi-bold);
  }
  .medium-lg {
    @include display-lg($font-wieght:$font-weight-Medium);
  }
  .regular-lg {
    @include display-lg($font-wieght:$font-weight-Regular);
  }

  @mixin display-md($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-md;
    color:inherit;
    line-height:$display-line-height-md;
  }

  .bold-md{
    @include display-md;
  }
  .semi-bold-md {
    @include display-md($font-wieght:$font-weight-semi-bold);
  }
  .medium-md {
    @include display-md($font-wieght:$font-weight-Medium);
  }
  .regular-md {
    @include display-md($font-wieght:$font-weight-Regular);
  }

  @mixin display-sm($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-sm;
    color:inherit;
    line-height:$display-line-height-sm;
  }

  .bold-sm{
    @include display-sm;
  }
  .semi-bold-sm {
    @include display-sm($font-wieght:$font-weight-semi-bold);
  }
  .medium-sm {
    @include display-sm($font-wieght:$font-weight-Medium);
  }
  .regular-sm {
    @include display-sm($font-wieght:$font-weight-Regular);
  }

  @mixin display-xs($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-xs;
    color:inherit;
    line-height:$display-line-height-xs;
  }

  .bold-xs{
    @include display-xs;
  }
  .semi-bold-xs {
    @include display-xs($font-wieght:$font-weight-semi-bold);
  }
  .medium-xs {
    @include display-xs($font-wieght:$font-weight-Medium);
  }
  .regular-xs {
    @include display-xs($font-wieght:$font-weight-Regular);
  }
//   @mixin bold-2xl ($color: $headings-color, $font-family: $font-family-serif, $font-family-serif, $font-weight: $font-weight-bold, $font-size: $display-font-size-2xl, $line-height: $display-line-height-2xl, $margin: 0 0 0.5rem, $width: 100%){
//     color: #{$color};
//     font-family: #{$font-family};
//     font-weight: #{$font-weight};
//     font-size: #{$font-size};
//     line-height: #{$line-height};
//     margin: #{$margin};
//     width: #{$width};
//   }
//   @mixin bolds-2xl() {
//     @include bold-2xl(
//       $font-weight: $font-weight-bold,
//     );
//   }
//   .bolds-2xl {
//     @include bolds-2xl;
//   }
//   h1 {
//     @extend .bolds-2xl;
//   }



  // HTML Elements: Headings
// Generates styles for elements and classes for headings h1 through h6

// Sass Map to store heading sizes
// $heading-sizes-map: (
//     // "h1": $h1,
//     // "h2": $h2,
//     "h3": $h3,
//     "h4": $h4,
//     "h5": $h5,
//     "h6": $h6
//   );
  
//   // @each Sass loop to generate styles for HTML headings h1 - h6
//   @each $name, $value in $heading-sizes-map {
//     #{$name}  {
//         font-size: $display-font-size-2xl ;
//       font-weight: $font-weight-bold;
//       line-height: $display-line-height-2xl;
//     }
//   }
// @mixin display ($color: $headings-color, $font-family: $font-family-serif, $font-weight: $font-weight-bold, $font-size: $display-font-size-2xl, $line-height: $display-line-height-2xl, $margin: 0 0 0.5rem, $width: 100%) {
//     color: #{$color};
//     font-family: #{$font-family};
//     font-weight: #{$font-weight};
//     font-size: #{$font-size};
//     line-height: #{$line-height};
//     margin: #{$margin};
//     width: #{$width}; // For non header (inline) elements with these styles, e.g. legend
//   }
//   @mixin display-1 {
//     @include display(
//       $font-size: $display-font-size-2xl, // 90px
//       $margin: 0 0 .5rem,
//       $line-height: $display-line-height-2xl
//     );
//   }
  
//   .display-1 {
//     @include display-1;
//   }
  
//   h1 {
//     @extend .display-1;
//   }
//   @for $index from 1 through 6 {
//     h#{$index} {
//         font-family: $font-family-serif;
//         color: inherit;
//         margin:0 0 .5rem ;
//         font-weight: $font-weight-bold;
//         line-height:$line-height-base ;
//     }
// }


// @each $name, $value in $font-sizes-map {
//     @for $index from 1 through 6 {
//     h#{$index} {
//         font-size: $value;
//     }
//   }
// }