

.font-family-roboto-slap {
    font-family: $font-family-serif;
  }
  
  
  // ---------------------------------------------
  // TYPOGRAPHY: FONTS: SIZES
  // Generates classes for font sizes
  // E.g., font-size, font-size-sm, font-size-lg
  
  // Sass Map to store font sizes
  $font-sizes-map: (
    "font-size": $font-size-base,
    "font-size-2xl": $display-font-size-2xl,
    "font-size-xl": $display-font-size-xl,
    "font-size-lg": $display-font-size-lg,
    "font-size-md": $display-font-size-md,
    "font-size-sm": $display-font-size-sm,
    "font-size-xs": $display-font-size-xs,
    "text-font-size-xl": $text-font-size-xl,
    "text-font-size-lg": $text-font-size-lg,
    "text-font-size-md": $text-font-size-md,
    "text-font-size-sm": $text-font-size-sm,
    "text-font-size-xs": $text-font-size-xs,
  );
  
  // @each Sass loop to generate classes
  @each $name, $value in $font-sizes-map {
    .#{$name} {
      font-size: $value;
    }
  }
  
  // Sass Map to store font weights
$font-weight-map: (
    "font-regular": $font-weight-regular,
    "font-medium": $font-weight-medium, 
    "font-semi-bold": $font-weight-semi-bold,
    "font-bold": $font-weight-bold
  );
  
  // @each Sass loop to generate classes
  @each $name, $value in $font-weight-map {
    .#{$name} {
      font-weight: $value;
    }
  }
   

  $line-height-map: (
    "line-height" :$line-height-base, 
    "line-height-2xl": $display-line-height-2xl, 
    "line-height-xl": $display-line-height-xl, 
    "line-height-lg": $display-line-height-lg, 
    "line-height-md": $display-line-height-md,
    "line-height-sm": $display-line-height-sm, 
    "line-height-xs": $display-line-height-xs, 

    "line-height-text-xl": $text-line-height-xl,
    "line-height-text-lg": $text-line-height-lg,  
    "line-height-text-md": $text-line-height-md,  
    "line-height-text-sm": $text-line-height-sm,  
    "line-height-text-xs": $text-line-height-xs  
  );
  
  // @each Sass loop to generate classes
  @each $name, $value in $line-height-map {
    .#{$name} {
        line-height: $value;
    }
  }
//   @each $display, $font-size in $display-font-sizes {
//     .display-#{$display} {
//       @include font-size($font-size);
//       font-weight: $display-font-weight;
//       line-height: $display-line-height;
//     }
//   }

//   @each $display, $font-size in $display-font-sizes {
//     .display-#{$display} {
//       @include font-size($font-size);
//       line-height: $display-line-height;
//     }
//   }


  @mixin display-2xl($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-2xl;
    color:inherit;
    line-height:$display-line-height-2xl;
  }
  
  .bold-2xl {
    @include display-2xl;
  }
  .semi-bold-2xl {
    @include display-2xl($font-wieght:$font-weight-semi-bold);
  }
  .medium-2xl {
    @include display-2xl($font-wieght:$font-weight-medium);
  }
  .regular-2xl {
    @include display-2xl($font-wieght:$font-weight-regular);
  }
  @mixin display-xl($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-xl;
    color:inherit;
    line-height:$display-line-height-xl;
  }

  .bold-xl{
    @include display-xl;
  }
  .semi-bold-xl {
    @include display-xl($font-wieght:$font-weight-semi-bold);
  }
  .medium-xl {
    @include display-xl($font-wieght:$font-weight-medium);
  }
  .regular-xl {
    @include display-xl($font-wieght:$font-weight-regular);
  }

  @mixin display-lg($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-lg;
    color:inherit;
    line-height:$display-line-height-lg;
  }

  .bold-lg{
    @include display-lg;
  }
  .semi-bold-lg {
    @include display-lg($font-wieght:$font-weight-semi-bold);
  }
  .medium-lg {
    @include display-lg($font-wieght:$font-weight-medium);
  }
  .regular-lg {
    @include display-lg($font-wieght:$font-weight-regular);
  }

  @mixin display-md($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-md;
    color:inherit;
    line-height:$display-line-height-md;
  }

  .bold-md{
    @include display-md;
  }
  .semi-bold-md {
    @include display-md($font-wieght:$font-weight-semi-bold);
  }
  .medium-md {
    @include display-md($font-wieght:$font-weight-medium);
  }
  .regular-md {
    @include display-md($font-wieght:$font-weight-regular);
  }

  @mixin display-sm($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-sm;
    color:inherit;
    line-height:$display-line-height-sm;
  }

  .bold-sm{
    @include display-sm;
  }
  .semi-bold-sm {
    @include display-sm($font-wieght:$font-weight-semi-bold);
  }
  .medium-sm {
    @include display-sm($font-wieght:$font-weight-medium);
  }
  .regular-sm {
    @include display-sm($font-wieght:$font-weight-regular);
  }

  @mixin display-xs($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $display-font-size-xs;
    color:inherit;
    line-height:$display-line-height-xs;
  }

  .bold-xs{
    @include display-xs;
  }
  .semi-bold-xs {
    @include display-xs($font-wieght:$font-weight-semi-bold);
  }
  .medium-xs {
    @include display-xs($font-wieght:$font-weight-medium);
  }
  .regular-xs {
    @include display-xs($font-wieght:$font-weight-regular);
  }

  @mixin text-xl($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $text-font-size-xl,;
    color:inherit;
    line-height:$text-line-height-xl;
  }

  .text-xl{
    @include text-xl;
  }
  .semi-bold-text-xl {
    @include text-xl($font-wieght:$font-weight-semi-bold);
  }
  .medium-text-xl {
    @include text-xl($font-wieght:$font-weight-medium);
  }
  .regular-text-xl {
    @include text-xl($font-wieght:$font-weight-regular);
  }

  @mixin text-lg($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $text-font-size-lg,;
    color:inherit;
    line-height:$text-line-height-lg;
  }

  .text-lg{
    @include text-lg;
  }
  .semi-bold-text-lg {
    @include text-lg($font-wieght:$font-weight-semi-bold);
  }
  .medium-text-lg {
    @include text-lg($font-wieght:$font-weight-medium);
  }
  .regular-text-lg {
    @include text-lg($font-wieght:$font-weight-regular);
  }

  @mixin text-md($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $text-font-size-md,;
    color:inherit;
    line-height:$text-line-height-md;
  }

  .text-md{
    @include text-md;
  }
  .semi-bold-text-md {
    @include text-md($font-wieght:$font-weight-semi-bold);
  }
  .medium-text-md {
    @include text-md($font-wieght:$font-weight-medium);
  }
  .regular-text-md {
    @include text-md($font-wieght:$font-weight-regular);
  }

  
  @mixin text-sm($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $text-font-size-sm,;
    color:inherit;
    line-height:$text-line-height-sm;
  }

  .text-sm{
    @include text-sm;
  }
  .semi-bold-text-sm {
    @include text-sm($font-wieght:$font-weight-semi-bold);
  }
  .medium-text-sm {
    @include text-sm($font-wieght:$font-weight-medium);
  }
  .regular-text-sm {
    @include text-sm($font-wieght:$font-weight-regular);
  }

  @mixin text-xs($font-wieght:$font-weight-bold) {
    font-weight: $font-wieght;
    font-size: $text-font-size-xs,;
    color:inherit;
    line-height:$text-line-height-xs;
  }

  .text-xs{
    @include text-xs;
  }
  .semi-bold-text-xs {
    @include text-xs($font-wieght:$font-weight-semi-bold);
  }
  .medium-text-xs {
    @include text-xs($font-wieght:$font-weight-medium);
  }
  .regular-text-xs {
    @include text-xs($font-wieght:$font-weight-regular);
  }