<section class="review-card news-gradient-bg">
    <div class="container">
        <div class="align-items-center justify-content-between row d-lg-flex d-none">
            <div class="col-6">
                <h1>Review:<span class="border-bottom-t">Travel Alerts</span></h1>
                </div>
                <div class="col-2">
                <p>July 14, 2022 | 11:31 am</p>
            </div>
        </div>
        <div class="row d-lg-flex d-none">
            <div class="col-md-3 card-review">
                <p class="border-bottom-2">
                    JULY 13, 2022
                </p>
                <h3>
                    Chile Eases COVID-19 Entry Requirements
                </h3>
                <div class="d-flex justify-content-center">
                <a href="" class="btn btn-share">
                    <img src="images/svg/icons/share.svg" alt=""> Share
                </a>
                   </div>
                   
                
            </div>
            <div class="col-md-3 card-review">
                <p class="border-bottom-2">
                    JULY 8, 2022
                </p>
                <h3>
                   US Issues New Travel Advisory Updates for Popular Tourist Destinations
                </h3>
               <div class="d-flex justify-content-center">
                <a href="" class="btn btn-share">
                    <img src="images/svg/icons/share.svg" alt=""> Share
                </a>
                   </div>
                   
                
            </div>
            <div class="col-md-3 card-review">
                <p class="border-bottom-2">
                    JULY 7, 2022
                </p>
                <h3 class="pe-6">
                    CDC Raises Monkeypox Alert Level, Encourages Precautions
                </h3>
               <div class="d-flex justify-content-center">
                <a href="" class="btn btn-share">
                    <img src="images/svg/icons/share.svg" alt=""> Share
                </a>
                   </div>
                   
                
            </div>
            <div class="col-md-3 card-review">
                <p class="border-bottom-2">
                    JULY 6, 2022
                </p>
                <h3 class="pe-6">US Embassy Issues Security Alert for Cancun, Playa del Carmen, Tulum
                </h3>
                <div class="d-flex justify-content-center">
                <a href="" class="btn btn-share">
                    <img src="images/svg/icons/share.svg" alt=""> Share
                </a>
                   </div>
                
            </div>
            
        </div>
        <div class="row d-lg-none d-block">
            <div class="col-12">
                <h1>Review:<br>
                <span class="border-bottom-t">Travel Alerts</span></h1>
                </div>
                <div class="col-12">
                <p>July 14, 2022 | 11:31 am</p>
            </div>
        </div>
        <div class="row d-lg-none d-block">
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="col-12 card-review">
                <p class="border-bottom-2">
                    JULY 13, 2022
                </p>
                <h3>
                    Chile Eases COVID-19 Entry Requirements
                </h3>
                <div class="share-bottom">
                <a href="" class="btn btn-share">
                    <img src="images/svg/icons/share.svg" alt=""> Share
                </a>
                   </div>
                   
                
            </div>
    </div>
    <div class="carousel-item ">
    <div class="col-12 card-review">
                <p class="border-bottom-2">
                    JULY 13, 2022
                </p>
                <h3>
                    Chile Eases COVID-19 Entry Requirements
                </h3>
                <div class="share-bottom">
                <a href="" class="btn btn-share">
                    <img src="images/svg/icons/share.svg" alt=""> Share
                </a>
                   </div>
                   
                
            </div>
    </div>
    <div class="carousel-item">
    <div class="col-12 card-review">
                <p class="border-bottom-2">
                    JULY 13, 2022
                </p>
                <h3>
                    Chile Eases COVID-19 Entry Requirements
                </h3>
                <div class="share-bottom">
                <a href="" class="btn btn-share">
                    <img src="images/svg/icons/share.svg" alt=""> Share
                </a>
                   </div>
                   
                
            </div>
    </div>
  </div>
</div>
            </div>
        </div>
        <p class="see-more">See More</p>
    </div>
</section>