<section class="review-card news-gradient-bg">
    <div class="container">
        <div class="align-items-center justify-content-between row">
            <div class="col-6">
                <h1>Review:<span class="border-bottom-1">Travel Alerts</span></h1>
                </div>
                <div class="col-2">
                <p>July 14, 2022 | 11:31 am</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 card-review">
                <p class="border-bottom-2">
                    JULY 13, 2022
                </p>
                <h3>
                    Chile Eases COVID-19 Entry Requirements
                </h3>
                <a href="" class="btn btn-share">
                    <img src="images/png/card/share.png" alt=""> Share
                </a>
                   
                
            </div>
            <div class="col-md-3 card-review">
                <p class="border-bottom-2">
                    JULY 8, 2022
                </p>
                <h3>
                   US Issues New Travel Advisory Updates for Popular Tourist Destinations
                </h3>
                <a href="" class="btn btn-share">
                   <img src="images/png/card/share.png" alt="">  Share
                </a>
                   
                
            </div>
            <div class="col-md-3 card-review">
                <p class="border-bottom-2">
                    JULY 7, 2022
                </p>
                <h3 class="pe-6">
                    CDC Raises Monkeypox Alert Level, Encourages Precautions
                </h3>
                <a href="" class="btn btn-share">
                    <img src="images/png/card/share.png" alt="" class="pe-2"> Share
                </a>
                   
                
            </div>
            <div class="col-md-3 card-review">
                <p class="border-bottom-2">
                    JULY 6, 2022
                </p>
                <h3 class="pe-6">US Embassy Issues Security Alert for Cancun, Playa del Carmen, Tulum
                </h3>
                <div class="d-flex">
                <a href="" class="btn btn-share">
                    <img src="images/png/card/share.png" alt=""> Share
                </a>
                   </div>
                
            </div>
            
        </div>
        <p class="see-more">See More</p>
    </div>
</section>