.banner{
    .carousel-indicators{
    right: auto!important;
    bottom: auto!important;
    top: 37%!important;
    left: -3.2%!important;
    }
.item-slider{
    padding: 24px;
gap: 16px;
position: absolute;
width: 350px;
height: 201px;
left: 165px;
bottom: 0px;
background: radial-gradient(84% 84% at 24.71% 8.4%, #073152 0%, #0B5188 100%);
p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
margin: 0;
color: #FFFFFF;
}
h2{
    font-family: 'Roboto Serif';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
margin: 0;
color: #FFFFFF;

}
}
}