<section class="banner">
   
    <div id="ccarouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators pt-4">
    <button type="button" data-bs-target="#ccarouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#ccarouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#ccarouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
         <div class="bg">
        <div class="item-slider">
        <p class="">BREAKING NEWS</p>
        <h2>Explore New Features at the Reimagined Sandals Royal Bahamian</h2>
        </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="bg">
      <div class="item-slider">
        <p class="">BREAKING NEWS</p>
        <h2>Explore New Features at the Reimagined Sandals Royal Bahamian</h2>
        </div>
        </div>
    </div>
    <div class="carousel-item">
         <div class="bg">
     <div class="item-slider">
        <p class="">BREAKING NEWS</p>
        <h2>Explore New Features at the Reimagined Sandals Royal Bahamian</h2>
        </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>