<div class="aadd-2 d-lg-block d-none pt-0 pb-0">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-md-12 aadd-3">
        <p>advertisement</p>
        <img src="images/png/card/Ad-3.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
