<section class="ad-2 d-lg-block d-none">
  <div class="container">
    <div class="justify-content-center row">
      <div class="col-md-12 ad-3">
        <p>advertisement</p>
        <img src="images/png/card/Ad-3.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
