<section class="suppliers">
    <div class="container">
        <div class="row d-lg-flex d-none">
            <div class="col-9">
                <h1>Explore:<span class="border-bottom-b">Featured Suppliers</span></h1>
                </div>
        </div>
        <div class="row d-lg-none d-block">
            <div class="col-12">
                <h1>Explore:
                <span class="border-bottom-b">Featured Suppliers</span></h1>
                </div>
        </div>
        <div class="align-items-center row pb-10">
            <div class="col-lg-3 col-12 mb-lg-0 mb-3">
                <div class="logo-ad">
                    <p>
                        <img  src="images/png/card/Icon-1.png" alt="">
                        Featured</p>
                        <div class="bg-white p-32">
                             <img class="ad-img img-fluid" src="images/png/card/Rectangle-7.png" alt="">
                        </div>
               
                <h6>American Cruise Lines</h6>
                </div>
            </div>
            <div class="col-lg-3 col-12 mb-lg-0 mb-3">
                <div class="logo-ad">
                    <p>
                        <img  src="images/png/card/Icon-1.png" alt="">
                        Featured</p>
                   <div class="bg-white p-32">
                             <img class="ad-img img-fluid" src="images/png/card/Rectangle-5.png" alt="">
                        </div>
                    <h6>Disney Cruise Line</h6>
                </div>
            </div>
            {{!-- <div class="col-lg-3 col-12 d-lg-none d-md-block text-center">
                 <img  class="ad-img img-fluid" src="images/png/card/Rectangle-1.png" alt="" >
                 <p>See more</p>
            </div>
            <div class="col-lg-3 col-12 d-lg-none d-md-block text-center">
                 <img class="ad-img img-fluid" src="images/png/card/Rectangle-2.png" alt="" >
                      <p>See more</p>
            </div>
            <div class="col-lg-3 col-12 d-lg-none d-md-block text-center">
                 <img class="ad-img img-fluid" src="images/png/card/Rectangle-3.png" alt="" >
                          <p>See more</p>
            </div> --}}
            <div class="col-lg-3 col-12 mb-lg-0 mb-3">
                <div class="bg-transparent logo-ad ">
                             <img class="ad-img ad-img-1 img-fluid mt-5" src="images/png/card/logo-5.png" alt="">
                    
                <h6>All Leisure Holidays</h6>
</div>
            </div>
            <div class="col-lg-3 col-12 mb-lg-0 mb-3">
                <div class="bg-transparent logo-ad">
                             <img class="ad-img ad-img-1 img-fluid mt-5" src="images/png/card/Rectangl-6.png" alt="">
                <h6>Amawaterways</h6>
                </div>
            </div>
            </div>
        </div>
         
    </div>
</section>