.horizontal-ad {
  background: #efefef;
  height: 301px;
  padding: 6px 25px 25px;


  .label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #929292;
    padding-bottom: 6px;
    padding-top: 3px;
  }

  .ad-img {
    img {
      max-height: 250px;
    }
  }
}
