.stickeyFixed {
    position: fixed;
    top: 0;
    width: 100%;
  }
.stickey {
    display: flex;
    flex-direction: column;
    
    .close {
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin-right: 166px;
        background: #0B5188;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        float: right;
      }
    }
    .stickey-news-letter {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #D3ECFF;
      margin: 0px;
      border-top: 2px solid #0B5188;
      gap: 72px;
      padding: 7px 15px;
      .svg {
        padding: 8px 16.07px 13.49px 17px;
        background:#CBE4FB;
        border-radius:100px;
      }
      .text {
        padding: 0px 0px;
        p {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 300;
          margin-top: 13px;
          font-size: 24px;
          line-height: 32px;
          color: black;
        }
       
      }
  
      .btn {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        padding: 8px 14px;
        background: #217BC0;
        border-radius: 18px;
        margin-top: 10px;
      }
    }
  }
  @media (max-width: 767px) {
    .stickey {
    
      .close {
        button {
          margin-right: 15px;
        }
      }
      .stickey-news-letter {
        padding: 7px 15px;
        gap: 16px;
        .text {
          padding: 0px 15px;
          p {
            font-size: 14px;
            line-height: 20px;
            padding: 0!important;
            margin: 0!important;
          }
        }
    
        
      }
    }
    
  }