<section class="card-border d-lg-none d-block">
    <div class="align-items-baseline border-bottom-sm d-flex header-sm justify-content-between ">
                    <h3>Cruise</h3>
                    <p class="m-0">See More</p>
                </div>
</section>