<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <title>{{title}}</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="TravelPulse website meta descripiton">
    <meta name="keywords" content="some keywords">

	<meta property="og:type" content="website" />
    <meta property="og:site_name" content="TravelPulse" />
	<meta property="og:title" content="TravelPulse: Travel News, Information and Offers" />
	<meta property="og:url" content="https://www.travelpulse.com/" />
	<meta property="og:image" content="https://www.travelpulse.com/images/og_logo.gif" />
    <meta property="fb:app_id" content="168042856714623"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@TravelPulse">
					

    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.travelpulse.com/images/12463/favicon.ico" />
    <link rel="canonical" href="https://www.travelpulse.com/">
</head>
<body class="template-body">
