  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/slinky.min.js"></script>
  <script src="/js/carousel.js"></script>
  <script src="/js/custom/card.js"></script>
  <script src="/js/custom/app.js"></script>
   <script src="/js/pop-up.js"></script>
</body>
</html>
