.breadcums{
  background: #0B5188;
a{
  text-decoration: none;
}
  .breadcrumb-item{
    cursor: pointer;
    &:hover{
      opacity: 0.9;
    }
  }
.primary-blue {
  color: #0B5188!important;
}
.color-gray{
  color: #607180!important;
  
}
.border-left-1{
  border-left: 1px solid #CCCCCC;
    height: 24px;
}
.img-usa{
  border: 1px solid #0267B7;
  border-radius: 100%;
}
.dropdown-menu.show {
  padding: 14px 16px 16px 14px!important;
}
.pb-20{
  padding-bottom: 20px;
}
.dropdown-item a{color: #434F5A;}
} 
.breadcrumb-item + .breadcrumb-item::before{
  color: $white!important;
}
@media (max-width: 767px){
.breadcums{
  padding: 11px 32px 11px 32px!important;
}

}