<div class="border-bottom breadcums py-1">
<div class="container">
  <div class="justify-content-between row align-items-center ">
    <div class="col col-lg-4 col-md-7">
      <div class="dropdown d-md-none d-block">
  <a href="javascript:void(0)" class="dropdown-toggle text-xs primary-blue" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
 TRAVEL AGENT
 <span class="ps-2">
  <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L7 7L13 1" stroke="#0B5188" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
 </span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
     <li><a class="dropdown-item text-sm pb-2" href="#"><span class="me-2">Travel Agent</span>
     <img src="images/svg/icons/check.svg" alt="" class="mt-1">
    </a></li>
    <li><a class="dropdown-item regular-text-sm  pb-2" href="#">SUPPLIER</a></li>
    <li><a class="dropdown-item regular-text-sm" href="#">TRAVELER</a></li>
   
  </ul>
</div>
      <nav aria-label="breadcrumb" class="d-md-block d-none">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item regular-text-xs "><a href="#" class="text-white">I AM A<span class="text-xs ps-1 ">TRAVEL AGENT</span></a></li>
    <li class="breadcrumb-item active regular-text-xs text-white " aria-current="page">SUPPLIER</li>
     <li class="breadcrumb-item regular-text-xs text-white  " aria-current="page">TRAVELER</li>
  </ol>
</nav>
    </div>
    <div class="col col-lg-3 col-md-5 text-end">
      <ul class="list-unstyled m-0">
        <li class="d-inline-block pe-lg-3 pe-1  dropdown"
        >
        <a href="javascript:void(0)" class="text-xs text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="d-md-inline-block d-none pe-2">U.S. EDITION</span>
          <span class="img-usa"> 
          <img src="images/png/card/Icon-10.svg" alt="" class="d-md-inline-block d-none">
           <img src="images/png/card/Icon-11.svg" alt="" class="d-md-none d-inline-block">
          </span>
        </a>
        <ul class="dropdown-menu">
       <li><a class="dropdown-item pb-20 text-xs " href="#">U.S.A.<br><span class="regular-text-xs">English</span></a></li>
    <li><a class="dropdown-item pb-20 text-xs " href="#">Canada<br><span class="regular-text-xs">English</span></a></li>
    <li><a class="dropdown-item text-xs " href="#">Canada Quebéc.<br><span class="regular-text-xs">Francoís</span></a></li>
  </ul>
        </li>
        <li class="d-inline-block ps-lg-3 ps-1 border-left-1"><a href="" class="text-xs text-white">SUBSCRIBE</a>
        </li>
        
      </ul>
    </div>
  </div>
</div>
</div>