<section class="border-bottom breadcums py-1">
<div class="container">
  <div class="justify-content-between row align-items-center ">
    <div class="col col-lg-4 col-md-7">
      <div class="dropdown d-md-none d-block">
  <a class=" dropdown-toggle text-xs text-white" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
 TRAVEL AGENT
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item regular-text-xs pb-20" href="#">SUPPLIER</a></li>
    <li><a class="dropdown-item regular-text-xs pb-20" href="#">TRAVELER</a></li
  </ul>
</div>
      <nav aria-label="breadcrumb" class="d-md-block d-none">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item regular-text-xs "><a href="#" class="text-white">I AM A<span class="text-xs ps-1 ">TRAVEL AGENT</span></a></li>
    <li class="breadcrumb-item active regular-text-xs text-white " aria-current="page">SUPPLIER</li>
     <li class="breadcrumb-item regular-text-xs text-white  " aria-current="page">TRAVELER</li>
  </ol>
</nav>
    </div>
    <div class="col col-lg-3 col-md-5 text-end">
      <ul class="list-unstyled m-0">
        <li class="d-inline-block pe-3  dropdown"
        ><a href="" class="text-xs text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="d-md-inline-block d-none pe-2">U.S. EDITION</span>
          <span class="img-usa"> 
          <img src="images/png/card/Icon-10.svg" alt="">

          </span>
        </a>
        <ul class="dropdown-menu">
       <li><a class="dropdown-item pb-20 text-xs " href="#">U.S.A.<br><span class="regular-text-xs">English</span></a></li>
    <li><a class="dropdown-item pb-20 text-xs " href="#">Canada<br><span class="regular-text-xs">English</span></a></li>
    <li><a class="dropdown-item text-xs " href="#">Canada Quebéc.<br><span class="regular-text-xs">Francoís</span></a></li>
  </ul>
        </li>
        <li class="d-inline-block ps-3 border-left-1"><a href="" class="text-xs text-white">SUBSCRIBE</a>
        </li>
        
      </ul>
    </div>
  </div>
</div>
</section>