<section class="breadcums bg-white py-2">
<div class="container">
  <div class="justify-content-between row align-items-center ">
    <div class="col col-lg-4 col-md-7">
      <div class="dropdown d-md-none d-block">
  <a class=" dropdown-toggle text-xs primary-blue " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
 TRAVEL AGENT
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item regular-text-xs pb-20" href="#">SUPPLIER</a></li>
    <li><a class="dropdown-item regular-text-xs pb-20" href="#">TRAVELER</a></li
  </ul>
</div>
      <nav aria-label="breadcrumb" class="d-md-block d-none">
  <ol class="breadcrumb m-0">
    <li class="breadcrumb-item regular-text-xs "><a href="#" class="color-gray">I AM A<span class="text-xs primary-blue ps-1 ">TRAVEL AGENT</span></a></li>
    <li class="breadcrumb-item active text-xs primary-blue " aria-current="page">SUPPLIER</li>
     <li class="breadcrumb-item text-xs primary-blue  " aria-current="page">TRAVELER</li>
  </ol>
</nav>
    </div>
    <div class="col col-lg-3 col-md-5 text-end">
      <ul class="list-unstyled m-0">
        <li class="d-inline-block pe-3"><a href="" class="text-xs primary-blue">SUBSCRIBE</a>
        </li>
        <li class="d-inline-block ps-3 border-left-1 dropdown"
        ><a href="" class="text-xs primary-blue dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="d-md-inline-block d-none">U.S. EDITION</span>
          <img src="images/png/header/noun-north-america-1104653 full-shade.png" alt="" class="img-usa">
        </a>
        <ul class="dropdown-menu">
       <li><a class="dropdown-item pb-20 text-xs " href="#">U.S.A.<br><span class="regular-text-xs">English</span></a></li>
    <li><a class="dropdown-item pb-20 text-xs " href="#">Canada<br><span class="regular-text-xs">English</span></a></li>
    <li><a class="dropdown-item text-xs " href="#">Canada Quebéc.<br><span class="regular-text-xs">Francoís</span></a></li>
  </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>