.modal-backdrop{
        
    --bs-backdrop-bg: transparent!important;
    background-color: transparent!important;
    opacity: 0!important;

}
.navbar {
  font-family: $font-family-sans-serif;
  padding-top: 22px!important;
  padding-bottom: 16px!important;
}
.pe-14
{
padding-right: 14px!important;
}
.bg-dropdwon{
background-color: #0B3D64;
}
.b-r{
  border-radius: inherit;
}
.secondary-gery {
    color: #B2BBC4!important;
}
.grid-nav-li {
  list-style: none;
  position: unset;
  &:not(:last-child) {
  }
      .dropdown-toggle::after { 
          display: none;
      }
      .grid-nav-link {
          padding: 0;
          color: $primary-white;
          position: relative;
          bottom: -7px;
              &:hover {
                  color: $Secondary;
              }
              &::after {
                  content: "";
                  position: absolute;
                  bottom: -22px;
                  left: 0;
                  right: 0;
                  width: 100%;
                  height: 6px;
                  display: inline-block;
                  border: 0;
                  margin: 0;                                
              }
              &:hover::after {
                  background: $Secondary;
              }
      }   
      .grid-nav-link.show {
          &::after {
              background: $primary-white;
          }
      }                 
      .main-gridbox-ul {
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          min-width: 1440px;
          max-width: 1440px;    
          margin-top: 0;
          border: none;
          border-radius: 0; 
          padding: 32px 166px 48px;
          gap: 32px;  
              .main-gridbox-li {
                  &:not(:last-child) {
                      margin-bottom: 8px;
                  }
                  .w-204{
                    width: 204px!important;
                  }
                  .dropdown-toggle {
                      pointer-events: none;
                      // margin-bottom: 24px;                                                                            
                  }
                  .inner-grid-box-ul {
                      li {
                          list-style: none;
                          &:not(:last-child) {
                              margin-bottom: 24px;
                          }
                          a {
                            font-weight: 700;
                            font-size: 0.875rem;
                            font-family: "Roboto";
                            line-height: 1.25rem;  
                              color: $primary-white;
                              white-space: normal;
                              text-decoration: none;
                                  &:hover {
                                      color: $Secondary;
                                  }
                          }
                      }
                  }
              }                         
              .dropdown-menu.inner-grid-box-ul {
                  display: block;
                  position: relative;
                  border: 0;
                  padding: 0;
              }
              .gridbox-inner-heading {
                  padding: 0;
                  color: $Secondary;
                  font-size: 12px;
                  line-height: 15px;
                  letter-spacing: 0.5px;
                  text-transform: uppercase;
                      &:hover {
                          background-color: unset;
                      }
                      &:focus {
                          background-color: unset;
                      }
                      &:active {
                          background-color: unset;
                      }
              }
      }
      .main-gridbox-ul.show { 
          display: grid;
          background-color: #0B3D64;
      }
}
.five-gridbox {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0 48px;
}

.four-gridbox {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 48px;
}

.three-gridbox {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 48px;
}

.two-gridbox {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 48px;
}

.sub-gridbox {
  .list-group {
      border: none;
      position: relative;
  }
}
// .nav-search{

//     .modal{
//         --bs-modal-bg:#EAEFF4!important;
//         --bs-modal-border-color: transparent!important;
//         --bs-modal-border-width: 0!important;
//         --bs-modal-border-radius: 0!important;
//         --bs-modal-box-shadow: none!important;
//         top: 172px!important;
//     bottom: auto!important;
//     }
    


// }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
@media (max-width: 1430px) and (min-width: 991px){
    .grid-nav-li {
    .main-gridbox-ul {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        min-width: 100%;
        max-width: 100%;    
        margin-top: 0;
        border: none;
        border-radius: 0; 
        padding: 32px 166px 48px;
        gap: 32px; 
}
}
}
@media (max-width: 930px) {
 
  .navbar-collapse{
    background: rgb(11, 61, 100);
    padding: 32px
  }
  .navbar-toggler-icon{
    background-image:url(../images/png/header/menu.png)!important;
  }
  .border-bottom-1{
    border-top: 1px solid #BFC6CC;
    padding-bottom: 21px;
    margin: 0;
  }
  .mobile-view {
      padding: 0;
  }
  .btn-close {
      position: absolute;
      left: 32px;
      top: 32px;
      background: url(../images/png/header/close-ic.svg) no-repeat;
      background-size: 20px auto;
      opacity: 1;
      &:focus {
          box-shadow: none;
      }
      &:hover {
          opacity: 1;
      }
  }
  .grid-nav-li {
    &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 0px;
    }
    .grid-nav-link {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px; 
        bottom: 0px;
        padding-top: 16px;
        padding-bottom: 16px;
            &::before {
                    content: '';
                    background: url(../images/png/header/icon-down.png) no-repeat;
                    background-size: auto;
                    height: 8px;
                    width: 12px;
                    position: absolute;
                    right: 0;
                    left: auto;
                    top: 60%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    display: inline-block;
                    background-size: 100% auto;
                
                }
    }
    .grid-nav-link.show { 
        &::before {
        background: url(../images/png/header/icon-up.png) no-repeat;
        }
    }                    
    .dropdown-toggle::after { 
        display: none;
    }
    .main-gridbox-ul.show {
      display: grid;
      background-color: transparent;
      box-shadow: 0 0 0 0;
      margin-bottom: 40px;
  }
    .main-gridbox-ul {
        width: 100%;
        left: 0 !important;
        top: 0 !important;
        transform: translateX(0) !important;
        min-width: 100% !important;
        max-width: 100% !important;
        max-height: 0;
        visibility: hidden;
        transition: 0s;
        overflow: hidden;
        display: block;
        position: relative;
        padding: 0 !important;
        top: unset;
        margin: 0;
        .main-gridbox-li {
            .inner-grid-box-ul li:not(:last-child) {
                margin-bottom: 16px;
            }
            .inner-grid-box-ul li a{
                font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
            }
        }

            .main-gridbox-li {
                .dropdown-toggle {
                    pointer-events: auto;
                    position: relative;
                }
                .dropdown-toggle::before { 
                    content: '';
                    background: url(../images/png/header/caret-plus.svg) no-repeat;
                    background-size: auto;
                    height: 18px;
                    width: 18px;
                    position: absolute;
                    right: 0;
                    left: auto;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    display: inline-block;
                    background-size: 100% auto;
                }
                .dropdown-toggle.show {
                    &::before {
                        background: url(../images/png/header/caret-minus.svg) no-repeat;
                        background-size: 100% auto;
                    }
                }
            }
            .dropdown-menu.inner-grid-box-ul {
                max-height: 0;
                visibility: hidden;
                transition: all 0.3s linear 0s;
                overflow: hidden;
                display: block;
                position: relative;
                padding: 0 !important;
                top: unset;
                margin: 0;
                    // li {
                    //     margin-bottom: 24px;
                    // }
            }
            .dropdown-menu.inner-grid-box-ul.show {
                max-height: 1800px;
                visibility: visible;
                margin-top: 24px;
            }
    }
    .main-gridbox-ul.show { 
        max-height: 1800px;
        visibility: visible;
        margin-top: 24px;
    }

}
.three-gridbox,
.two-gridbox,
.four-gridbox,
.five-gridbox {
    grid-template-columns: repeat(2, 1fr);
}
.gridbox:not(:last-child) {
    margin-bottom: 32px;
}
.nav-underline {
    ul li a {
        &:hover {
            color: $primary !important;
            &::after {
                display: none !important;
            }
        }
    }
}
.offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 354px;
    padding: 32px;
    overflow-y: auto;
    background-color: $white;
    transition-delay: .45s, .15s;
    transform: translateX(-100%);
    transition: all 0.3s linear 0s;
    visibility: visible !important;
}
.offcanvas-collapse.open {
    // transition: all 0.3s linear 0s;
    transform: translateX(0%);
    .btn--primary {
        display: none;
    }
}
.navbar {
  padding: 16px 24px;
  .navbar-brand {
      margin: auto;
      img {
          width: auto;
          height: auto;
      }
  }
  .header-btn {
      .btn--primary {
          position: absolute;
          right: 0;
      }
      .btn--secondary {
          position: absolute;
          top: 92px;
          left: 32px;
          margin-left: 0;
      }
  }
}
ul{
  padding-left: 0%!important;
}
.navbar-toggler:focus{
    box-shadow: none!important;
}
}
@media (max-width: 575px){
  .navbar {
    padding-left: 0px !important; 
    padding-right: 0px !important; 
    padding-top: 7px !important; 
    padding-bottom:7px !important; 
  }
  .navbar-collapse{
    max-width: 100%;
    background: rgb(11, 61, 100);
    padding: 32px
  }
  .container{
    padding: 0%!important;
  }
}