<nav class="navbar navbar-expand-lg primary-blue-bg">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="images/png/header/Logo.png" alt=""  class="pe-14"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item ps-9">
          <a class="nav-link active semi-bold-text-sm text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"  href="#">Home</a>
           <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
        </li>
        <li class="nav-item ps-9">
          <a class="nav-link semi-bold-text-sm text-white" href="#">Features</a>
        </li>
        <li class="nav-item ps-9">
          <a class="nav-link semi-bold-text-sm text-white" href="#">Pricing</a>
        </li>
        <li class="nav-item ps-9">
          <a class="nav-link dropdown-toggle semi-bold-text-sm text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <img src="images/png/header/search-lg.png" alt="">
    </div>
  </div>
</nav>